[2021-03-06 12:05] MohammedAljahdali opened #7 "question: Do I need to use ray.init() before using the Ray Accelerator?"
Hey, Thank you for creating a needed library.

I am very new to using Ray, and I already had a project built around PL. I looked around on how to add Ray distributed training backend to my project, and I found this library that does not force me to not use the PL trainer.

Now, I am trying to use the accelerator on my local machine, but I failed to do so. I think it's a really simple issue, becaus

[2021-03-06 20:59] import-antigravity opened #8 "Does not appear to be compatible with the current version of Lightning"
I was excited to try this out but the code appears to not be working due to a missing import:

[code]

[2021-03-07 01:09] amogkam commented on #7
Hey @MohammedAljahdali thanks for the question. Yes you need to call `ray.init()` before instantiating the accelerator.

The error you are seeing is I think due to the number of GPUs available on your machine. It seems like there is only 1 GPU on your machine, but you are using 4 workers, and since `use_gpu` is set to `True`, each worker will attempt to reserve 1 GPU. This will only be feasible if

[2021-03-07 01:10] amogkam commented on #8
Hi @import-antigravity, thanks for posting this issue! The PTL team actually did a major refactor of their accelerator code in the 1.2 release. I am currently working on updating this library to be compatible with their changes, but until that is done can you try with pytorch lightning v1.1.8.

[2021-03-07 01:14] amogkam commented on #7
Actually it is pretty simple to automatically call `ray.init()` in the `__init__` of the accelerators if Ray is not already initialized. Thanks for bringing this up- I will make that change to this library!

[2021-03-07 02:00] import-antigravity commented on #8
Unfortunately my code is susceptible to a bug which was fixed in 1.2

[2021-03-07 02:11] amogkam commented on #8
Ah that's unfortunate. Ok I will make sure to update you here once we have compatibility with 1.2 which should be in the next few days.

[2021-03-07 02:12] amogkam commented on #8
Alternatively, you could maybe build pytorch lightning from source and cherry pick just the commit that fixes the bug onto the 1.1.8 code.

[2021-03-07 02:17] import-antigravity commented on #8
No worries, I can survive only running jobs on a single node for a few days. Would using this package by chance also solve this issue?
https://github.com/PyTorchLightning/pytorch-lightning/issues/3651

[2021-03-07 06:52] amogkam commented on #8
Unfortunately even using this library, running on SLURM would still result in that error I believe. As mentioned by @richardliaw in https://github.com/ray-project/ray/issues/10995, ideally PTL provides a way to turn off automatic slurm detection since we don't want to use their SlurmConnector when using Ray.

I think the hack mentioned in https://github.com/ray-project/ray/issues/10995 should stil

[2021-03-07 06:54] amogkam opened #11 "Slurm Support"
We should make sure that this library works on SLURM, and provide a specific example for how to use the `RayAccelerator` on a slurm cluster, and with Tune as well.

Currently, running on slurm results in this error: https://github.com/ray-project/ray/issues/10995

[2021-03-07 07:41] MohammedAljahdali commented on #7
Thank you for the help, and happy that I inspired a change with my question.

Currently, I am facing a new issue, and I think it's related to ray itself, whenever I run any program with the ray, the program never gets executed and the script ends. I faced this issue, when I use the accelerator, and when I used the tuner, each on it's own.
I also tried this example and the same issue happened:
[cod

[2021-03-07 07:49] amogkam commented on #7
What do you mean that the program never gets executed? Are the print statements not being printed out?

Also, just an fyi, calling `do_some_work.remote()` it will return immediately with an object future. You then have to call `ray.get(...)` on the returned object to actually block until the function is finished and the actual result is returned. You can find more information here https://docs.ray

[2021-03-07 08:01] MohammedAljahdali commented on #7
I am running the 1.2.0 version, which is the latest, I think. As for programs not being executed, yes the print statements are not printed out. Thank you for the clear-up about the example, but tbh I just copied it to check if the issue is from ray or my main script. I tried using `http://localhost:8265` to open the dashboard, but also it did not open I get this: `This site can’t be reached` and t

[2021-03-07 08:07] amogkam commented on #7
Hmm the print statements not being shown is odd. Is there any output being shown at all that you an share?

[2021-03-07 08:10] MohammedAljahdali commented on #7
I just reinstalled ray and nothing changed. This the output of running the example above:
[code]

[2021-03-07 08:16] amogkam commented on #7
@MohammedAljahdali wow ok this is really odd. Could you post this as an issue on the main ray repo? It'll be easier to get more help there.

[2021-03-07 08:19] MohammedAljahdali commented on #7
I wrote a question here: https://discuss.ray.io/t/when-using-ray-application-does-not-get-executed/1158

[2021-03-07 08:24] amogkam commented on #7
@MohammedAljahdali can you post a bug report here as well- https://github.com/ray-project/ray/issues

[2021-03-07 08:26] MohammedAljahdali commented on #7
Yea sure, thank you lots for the help.

[2021-03-07 08:56] MohammedAljahdali commented on #7
I opened an issue checkout please https://github.com/ray-project/ray/issues/14522

[2021-03-07 08:56] #7 closed

[2021-03-08 10:50] MohammedAljahdali opened #13 "RuntimeError: Distributed package doesn't have NCCL built in"
Hey, I am having an issue when I run `trainer.fit` with the accelerator I get the following error:
[code]

[2021-03-08 17:00] amogkam commented on #13
@MohammedAljahdali Pytorch on Windows does not support the NCCL backend. Can you use the gloo backend instead.

![image](https://user-images.githubusercontent.com/8068268/110354070-9ee8d300-7fec-11eb-87ad-9c5e27b33d89.png)

You can find more information [here](https://pytorch-lightning.readthedocs.io/en/stable/advanced/multi_gpu.html#select-torch-distributed-backend) and [here](https://pytorch.org

[2021-03-08 17:00] #13 closed

[2021-03-15 19:10] import-antigravity commented on #8
Hey, do you have an update on this?

[2021-03-15 19:14] amogkam commented on #8
Hey sorry I was sick for most of last week. It's currently in progress here https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/trainer/connectors/accelerator_connector.py#L400

[2021-03-23 02:58] amogkam commented on #8
@import-antigravity https://github.com/ray-project/ray_lightning_accelerators/pull/15 has been merged. This library should now work with PTL 1.2.4.

[2021-03-23 02:58] #8 closed

[2021-03-23 03:05] import-antigravity commented on #8
🙌 🙌 🙌 🙌 🙌 🙌 🙌 🙌

[2021-03-30 03:11] athenawisdoms opened #22 "Early stopping"
What is the proper way to enable early stopping?

Do we use Lightnng's `EarlyStopping` callback?

[code]

Or should we use one of `tune.run()`'s parameters?

[code]

or

[code]

[2021-03-30 05:27] nyxynyx opened #23 "Unable to use both GPUs"
Hello, thanks for this amazing library for Lightning!

I am trying to run Lighting and Ray Tune on a system with 2 GPU. As a start, I want to use both of GPU to train 1 trial at a time.

However, when I use

[code]

I get the error about the actor or task not being able to be scheduled.

[code]

Firstly, I tried changing `Trainer` to use `gpus=1` and `num_workers=2`, but we still get the same erro

[2021-03-30 16:29] import-antigravity commented on #23
I'm having the same error.

[code]

[2021-03-30 18:36] athenawisdoms commented on #23
I am having the same error too on Ubuntu 20.04 system with 2 GPU devices. I am only able to train using 1 GPU.

[2021-03-30 19:04] amogkam commented on #23
Hey guys, can you set this as `resources_per_trial` that you pass to `tune.run` for now:
[code]

Completely agree that this is confusing, and I am working on an improvement so that resources are completely abstracted away from the user. I will update here once that is merged.

But, if you're curious as to how all of this works, when running with Tune, each Tune trial creates 1+`num_workers` proces

[2021-03-30 19:37] dannychua commented on #23
@amogkam Thanks for the explanation!

I've tried re-running using the parameters you posted,

[code]

[code]

but I am still getting the same error

[code]

[2021-03-30 19:39] nyxynyx commented on #23
@amogkam Thanks for the explanation!

I've tried re-running using the parameters you posted,

[code]

[code]

but I am still getting the same error

[code]

[2021-03-30 19:46] amogkam commented on #23
@nyxynyx ah right, so there are 2 options here

You can make this change to the source code, and then re-install the package via `pip install -e .`. In https://github.com/ray-project/ray_lightning/blob/main/ray_lightning/ray_ddp.py#L98, set `num_gpus=int(use_gpu)-0.01`. I know this is very hacky, and I am currently working on improvement for this.

Or, you set `num_workers=1`, and
[code]
which is

[2021-03-30 19:48] amogkam commented on #22
When using the Plugins with Ray Tune, you'd probably want to use Tune's early stopping schedulers

[2021-03-30 20:39] import-antigravity commented on #23
What is the purpose of the fractional gpu assignment?

[2021-03-30 20:47] import-antigravity commented on #23
Followup question, I'm still not sure how to assign multiple CPUs to a worker without assigning multiple GPUs

[2021-03-30 22:23] nyxynyx commented on #23
@amogkam Got both GPU utilized using your hacky fix, which I modified slightly to

    num_gpus=int(self.use_gpu)-0.01)

but as just the training was about to start (`nvidia-smi` shows the GPU memory filling up), there's a new error

Starting the Python training script using `NCCL_IB_DISABLE=1 python tune.py` does not help.

Enabled debug messages using `NCCL_DEBUG="INFO"  NCCL_IB_DISABLE=1 python

[2021-03-30 23:14] nyxynyx commented on #23
Upgraded Pytorch to 1.8.1, a similar but different NCCL error appears

[code]
Also, when using `NCLL_DEBUG="INFO"`

[code]

Packages versions being used are now
- pytorch 1.7.0
- pytorch-lightning 1.2.5
- ray 1.2.0
- cudatoolkit 10.2.89

[2021-03-30 23:43] #22 closed

[2021-03-30 23:54] amogkam commented on #23
@import-antigravity the fractional GPU is to make sure that all GPUs are being utilized. The main trial process needs to be on GPU because Pytorch Lightning requires this for when the Trainer is instantiated. However, no training actually happens on this GPU. So we said it to a low value (0.01) so that the process gets placed on a GPU, but does not reserve an entire GPU which its not actually goin

[2021-03-30 23:55] amogkam opened #24 "NCCL peer access is not supported error"
just the training was about to start (nvidia-smi shows the GPU memory filling up), there's a new error
[code]

Starting the Python training script using `NCCL_IB_DISABLE=1 python tune.py` does not help.

Enabled debug messages using `NCCL_DEBUG="INFO" NCCL_IB_DISABLE=1 python tune.py`, and the following new messages appeared:

[code]

_Originally posted by @nyxynyx_

[2021-03-30 23:56] amogkam commented on #24
Upgraded Pytorch to 1.8.1, a similar NCCL error appears

ray::ImplicitFunc.train_buffered() (pid=928774, ip=192.168.1.159)
  File "/opt/anaconda3/envs/test/lib/python3.8/site-packages/ray/tune/function_runner.py", line 248, in run
    self._entrypoint()
  File "/opt/anaconda3/envs/test/lib/python3.8/site-packages/ray/tune/function_runner.py", line 315, in entrypoint
    return self._trainable_func

[2021-03-31 00:04] amogkam commented on #24
@nyxynyx this library uses TCP initialization to create the process group (https://pytorch.org/docs/stable/distributed.html#tcp-initialization) which requires P2P communication between all your devices. Do you have P2P enabled between devices on your machine?

[2021-03-31 00:05] amogkam commented on #23
@nyxynyx I created a separate issue for your question: https://github.com/ray-project/ray_lightning/issues/24

[2021-03-31 03:30] nyxynyx commented on #24
@amogkam Thanks for organizing this question into its own issue.

Before using `ray_lightning`, I have been able to train Pytorch Lightning models using both GPU at the same time for the same model with DDP.

[code]

I have since tried the following combinations, all encountered the same NCCL error when trying to use both GPUs using `ray_lightning`:
- Pytorch 1.7.0, CUDA 10.2.89
- Pytorch 1.8.1, C

[2021-03-31 15:09] import-antigravity commented on #11
Is this still an issue? I'm still having issues with #23 but I don't think I'm getting SLURM errors now

[2021-03-31 16:05] amogkam commented on #11
@import-antigravity whats the issue you are seeing with #23? Can you add a comment to that issue?

[2021-03-31 16:15] amogkam commented on #24
@nyxynyx is this same error happening even when you are not using Tune? Standard Pytorch Lightning does not use TCP initialization so that could be why it has been working for you. You can confirm by running this small example from here https://pytorch.org/tutorials/intermediate/ddp_tutorial.html#basic-use-case, except using NCCL and TCP initialization for dist.init_process_group

[2021-03-31 19:59] nyxynyx commented on #24
@amogkam I have not tried using Ray on multiple GPUs and without Tune.

I've tried running the small example linked, and it works only with `gloo`, not with `nccl`. With `nccl`, it simply hangs and the script does not finish running.

Is it possible to use another method to run `ray_lightning` with DDP other than NCCL with TCP initialization?

Below is the code that I've adapted to use for my test

[2021-03-31 21:20] amogkam commented on #24
Ah interesting, so looks like this is more of a Pytorch/NCCL issue if the simple torch example is not working for you. I would recommend posting on their side if you want to use NCCL.

If you want to use gloo with GPU, you'd have to modify this line in the code https://github.com/ray-project/ray_lightning/blob/main/ray_lightning/ray_ddp.py#L238.

I will push a patch to make the backend configurabl

[2021-04-01 01:40] mrkulk opened #25 "[Question] Compatibility with PTL's deepspeed accelerator"
Is ray_lightning currently compatible with the deepspeed accelerator in PTL?

[2021-04-02 17:45] nyxynyx commented on #24
@amogkam I've managed to get the script working.

As soon as `setup()` was modified to remove `init_method="tcp://10.1.1.20:23456"` and instead perform TCP initialization using values from `os.environ["MASTER_ADDR"]`  and `os.environ["MASTER_PORT"] `

[code]

the script started working!

Does this mean NCCL & TCP initialization are both working for my GPU devices?

[2021-04-02 17:52] amogkam commented on #24
@nyxynyx Great, I'm glad it's working for you! So the change you made actually removed TCP initialization. If you don't provide an `init_method` to `dist.init_process_group` it uses Environment Variable initialization. You can read more about it here https://pytorch.org/docs/stable/distributed.html#tcp-initialization. So NCCL is working, but TCP initialization is not, I think because you might not

[2021-04-02 17:53] amogkam commented on #24
But thanks for bringing this up! I think I'll make the change the default for this library to Environment Variable initialization since that seems to work on more setups and is the default used by Pytorch Lightning as well.

[2021-04-02 18:12] nyxynyx commented on #24
@amogkam Thanks for the clarification! Looking forward to the changes :wink:

[2021-04-02 18:27] amogkam commented on #24
Ah @nyxynyx now that I think about it, using env var initialization won't work when using with Ray Tune since you can have multiple distributed training runs running on the same node, and you don't each one to interfere with the environmnent variables with the other runs. Using TCP initialization is probably the safest bet.

In your case, env var initialization is not an issue since you are only r

[2021-04-02 19:17] amogkam commented on #25
Hey @mrkulk so I had started working on DDP Sharded+Ray integration in this PR https://github.com/ray-project/ray_lightning/pull/16, this work is outdated since Pytorch Lightning had some major changes with distributed accelerators/plugins in 1.2.

With the latest Pytorch Lightning update I think we would have to create a `RayShardedPlugin` that subclasses the `RayPlugin` similar to this https://g

[2021-04-03 18:08] #24 closed

[2021-04-04 16:59] nyxynyx commented on #24
@amogkam Thanks for working on the PR so quickly!

I tried using the latest fix that just merged in by running `git pull` then `pip install -e .`, but I still getting the same error.

Is there an additional setting that we need to have in order to use env initialization with NCCL?

[code]

**Error Stacktrace:**

[code]

[2021-04-04 17:44] amogkam commented on #24
Hmm it should be using env var initialization by default. Can you print out what the MASTER_ADDR and MASTER_PORT env cars are over here https://github.com/ray-project/ray_lightning/blob/main/ray_lightning/ray_ddp.py#L249. Also if you manually set these to what you had before

os.environ["MASTER_ADDR"] = "localhost"
os.environ["MASTER_PORT"] = "12355"

then is it working for you?

[2021-04-04 17:58] amogkam commented on #24
Also if you want to set any NCCL environment variables (like NCCL_DEBUG for example) you have to make sure that it is set in the worker processes as well. You can do so by passing in an init_hook to the plugin https://github.com/ray-project/ray_lightning/blob/main/ray_lightning/ray_ddp.py#L66 that sets these env vars.

[2021-04-04 19:32] nyxynyx commented on #24
@amogkam At L249,

`os.getenv('MASTER_ADDR')` gives `192.168.1.159`
`os.getenv('MASTER_PORT')` gives `45439`

Using `ifconfig`, the IP address assigned to my ethernet interface is `192.168.1.159`.

If we set the env variables at L249, the following code in those lines

[code]

gives the output

[code]

and the training starts with no NCCL errors.

[2021-04-04 19:48] nyxynyx commented on #24
@amogkam

Tried using the `init_hook` as suggested,

[code]

here's the `NCCL INFO` messages:

[code]

[2021-04-04 23:17] athenawisdoms opened #27 "How to set find_unused_parameters?"
We started noticing the below warning recently, how can be set `find_unused_parameters=False`?

With vanilla Lightning, there is an option in `DDPPlugin` to toggle this setting

[code]

Thank you!

[2021-04-04 23:42] amogkam commented on #27
Ah yes that's a good point. After #28 gets merged you should be able to pass in `find_unused_parameters` kwarg to `RayPlugin`, along with any additional args to pass into `DistributedDataParallel`

[2021-04-04 23:46] amogkam commented on #24
Thanks for the info @nyxynyx- I'm actually quite stumped on this one since the address being set looks to be correct. Can you try manually setting address to 192.168.1.159 and port to 12355, as well as address to localhost and port to 45439? I'm curious as to whether the address or the port is the problem (or both), but my hunch is that it's the address.

Also, just to confirm with localhost/12355

[2021-04-05 00:18] athenawisdoms opened #29 "Tune stops after one trial"
Hello again,

I'm using Lightning's `EarlyStopping` callback and `TuneReportCallback` callback in Lightning's `Trainer`. I notice that despite having used `tune.choice` in the `config` object passed into `tune.run()`, the tuning loop always stop after the first trial has stopped.

Here is the log messages at the end of the tuning loop

[code]

My code goes like

[code]
[code]

Will love to know an

[2021-04-05 00:48] amogkam commented on #29
Hey @athenawisdoms, `tune.run` also takes in a `num_samples` args which specifies how many trials to run, where each trial samples from the provided search space. The default value for this is 1, so only 1 trial is being run.

Sounds to me that you want to not sample from the search space, but actually search through all combinations of the search space. In that case, you should use `tune.grid_sea

[2021-04-05 00:55] athenawisdoms commented on #29
Thank you, solved!

[2021-04-05 00:55] #29 closed

[2021-04-05 01:39] nyxynyx commented on #24
@amogkam Thanks for continuing to dig into this issue!

I can confirm that the ToyModel script is still working when we modify the setup function to

[code]

and when modified to

[code]

Unfortunately, I am getting the same NCCL error when we modify the `init_ddp_connection` method in `test_ddp.py`  by inserting the following

[code]

or to

[code]

or to

[code]

or to

[code]

This is mysteriou

[2021-04-05 20:32] import-antigravity commented on #23
I'm still getting the same error:
[code]

And this is what my script looks like:
[code]

[2021-04-05 20:36] amogkam commented on #23
Hey @import-antigravity did you also make the changes from here https://github.com/ray-project/ray_lightning/issues/23#issuecomment-810531272?

[2021-04-05 20:39] import-antigravity commented on #23
Ah, I think I misread what you wrote. I changed my `resources_per_trial` as shown in my comment but I missed the part where that would lead to a GPU not being utilized. Currently I'm running 2 nodes with 4 GPUs total, and only 1 GPU is being used currently. I'm going to try changing the source like you suggested and see what happens.

[2021-04-06 00:31] #27 closed

[2021-04-06 03:47] mrkulk commented on #25
re ddp_sharded -- great to know and I will check it out

regarding use case -- yes the models are too big to fit on a single GPU and also want larger batch sizes. We typically use V or A 100s but that can change in the future. The model size is scaling in size every month as we make progress. Since deepspeed can handle billions of parameters (at stage 3 optimization), it would be great to have tha

[2021-04-06 16:33] griff4692 opened #31 "Wandb pytorch lightning integration bug"
I am trying to tune hyper-params across 2 GPUs so I installed ray_lightning.  Yet, I am running into the following error with wandb.

`wandb: Network error (ReadTimeout), entering retry loop. See wandb/debug-internal.log for full traceback.`

Any ideas?  Thanks

[2021-04-06 16:38] amogkam commented on #31
@griff4692 do you have a longer stack trace? And also do you mind sharing your code? Is the wandb error coming from the Tune side or the Pytorch Lightning side?

[2021-04-06 17:08] griff4692 commented on #31
Hi!

Thanks - I actually solved it by just removing wandb for distributed training.  Yet I am now confused with how to set

[code]

I have 2 RTX 3090s and 64 CPUs.

I am passing

[code]

However I am getting the following error from pytorch_lightning

[code]

Oddly enough, this only happens when I use the raylightning plugin.  Not sure what's going on

[2021-04-06 17:08] griff4692 commented on #31
To follow up [0, 1] are both visible

[2021-04-06 17:11] amogkam commented on #31
Great, glad you were able to resolve the wandb issue @griff4692! I am going to close this issue, but I created a new one for your GPU error.

[2021-04-06 17:11] #31 closed

[2021-04-06 17:12] amogkam opened #32 "GPU MisconfigurationException"
I am now confused with how to set

resources_per_trial={
  'cpu': 4,
  'gpu': 2
}
I have 2 RTX 3090s and 64 CPUs.

I am passing

pl.Trainer(...gpus=2)
However I am getting the following error from pytorch_lightning
[code]
Oddly enough, this only happens when I use the raylightning plugin. Not sure what's going on

*Originally posted by @griff4692*

[2021-04-06 17:13] amogkam commented on #32
@griff4692 can you post the full stack trace for this please?

[2021-04-06 17:14] griff4692 commented on #32
`Loaded CUI vocab of size=74814
Num GPUs --> 2
Num workers --> 64
2021-04-06 13:13:49,051	INFO services.py:1172 -- View the Ray dashboard at http://127.0.0.1:8273
2021-04-06 13:13:50,617	WARNING function_runner.py:540 -- Function checkpointing is disabled. This may result in unexpected behavior when using checkpointing features or certain schedulers. To enable, set the train function arguments to

[2021-04-06 17:16] amogkam commented on #32
Could you also share your code too please? Thanks!

[2021-04-06 17:18] griff4692 commented on #32
`import os
import pickle

import argparse
import pytorch_lightning as pl
from pytorch_lightning import loggers as pl_loggers
from pytorch_lightning.callbacks import EarlyStopping, ModelCheckpoint
from ray import tune
from ray.tune import CLIReporter
from ray.tune.schedulers import ASHAScheduler, PopulationBasedTraining
from ray.tune.integration.pytorch_lightning import TuneReportCallback, TuneRepo

[2021-04-06 17:19] griff4692 commented on #32
the output of

[code]
is [0, 1] so I'm confused as to how it comes up [0] when I use the ray-lightning code

[2021-04-06 17:49] amogkam commented on #32
Ah so the problem is that the `gpus` passed into `pl.Trainer` is not the same as the `gpus` set in `resources_per_trial`. Can you change the `gpus` passed into `pl.Trainer` to be 1? That will fix this issue, but your code still won't work fully. To fix new the one that comes up, you have to modify your `resources_per_trial` to be like what's in the examples:

[code]

Note that this will result in

[2021-04-06 18:38] griff4692 commented on #32
Thanks - I changed everything to 1

        resources_per_trial={
            'cpu': 1,
            'gpu': 1,
            'extra_cpu': 1,
            'extra_gpu': 1
        },

and num_gpus to pl.Trainer to "1" as well and am getting...

(pid=1545888) LOCAL_RANK: 0 - CUDA_VISIBLE_DEVICES: [0]
2021-04-06 14:37:01,746 WARNING worker.py:1107 -- The actor or task with ID ffffffffffffffffaca3ed3a841b06

[2021-04-06 18:41] amogkam commented on #32
How many workers are you using (`num_workers` passed into `RayPlugin`)? In a 2 GPU machine, with 1 GPU not being utilized (see https://github.com/ray-project/ray_lightning/issues/32#issuecomment-814313347), means that you can run a maximum of 1 worker.

[2021-04-06 18:42] griff4692 commented on #32
I am using 1 worker as well

[2021-04-06 18:45] amogkam commented on #32
Looking at your code it seems like num_workers is being set to the CPU count, is that correct? `num_workers = round(os.cpu_count() * 1.0)`. Wouldn't that set `num_workers` to 64?

[2021-04-06 18:48] griff4692 commented on #32
Sorry I removed that code.  so now num-workers is set to 1.  It is actually working now, but I believe only running a single task at a time and using a single GPU.  what is the advantage then over not using this Plugin?

[2021-04-06 19:00] amogkam commented on #32
Great, glad it's working now!

So this plugin is useful for general-purpose distributed training with Pytorch Lightning on either single-node or a large multi-node cluster. When used with Tune, it also allows each Tune trial to be run in a distributed fashion.

I am currently working on a fix for the unutilized GPU issue, but if you would like, you can follow the thread in #23 for a hacky fix. Wit

[2021-04-06 20:33] import-antigravity commented on #23
I did, and now I'm getting the same error, but looking at the message it says 0.99 GPUs are available and 0.99 are needed, which is strange:

[code]

[2021-04-06 20:44] import-antigravity commented on #23
Also I've double checked that my conda environment is using the modified source

[2021-04-06 23:20] amogkam commented on #23
@import-antigravity could you share your full code and also remind me again what your node specs (# Cpus, # Gpus) are? Thanks

[2021-04-07 01:58] import-antigravity commented on #23
What do you mean by full code? Like the full training script?

I'm running this on a cluster with 20 CPUs and 2 GPUs on each node. I've tried with 2 nodes and 4 nodes so far, only the head node ends up being used and only 1 GPU ends up being used.

[2021-04-07 03:24] import-antigravity commented on #23
Here's my training script, most of it relies on my external PTL code but the relevant stuff should all be here

```python
import json
import os
from importlib import import_module
from sys import argv

from pytorch_lightning import Trainer
from pytorch_lightning.loggers import TensorBoardLogger
from ray import tune
from ray.tune.integration.pytorch_lightning import TuneReportCallback
from ray.t

[2021-04-08 17:28] amogkam commented on #23
@import-antigravity I pinged you on the Pytorch Lightning Slack

[2021-04-16 12:09] RaviTej310 opened #35 "Install issue: cannot import name 'DDPSpawnPlugin'"
Hi, I am trying to install `ray_lightning` using `pip install git+https://github.com/ray-project/ray_lightning#ray_lightning`. I get no error during install:

[code]

but when I do `from ray_lightning import RayPlugin`, I get:
[code]

[2021-04-16 14:57] amogkam commented on #35
What version of pytorch lightning are you using? Can you upgrade to v1.2?

[2021-04-19 08:55] RaviTej310 commented on #35
Yeah, that works, thanks :)

[2021-04-19 08:55] #35 closed

[2021-04-22 18:12] RaviTej310 opened #38 "Checkpointing on CPU head node + gpu worker"
Hi, I'm trying to use `ray_lightning` on a CPU head node and a GPU worker node. I'm using the below toy testing code, and checkpointing seems to be causing an issue

[code]

However, this fails with error:

[code]

@amogkam suggested me to file an issue about this. Thanks!

[2021-04-25 17:34] igorgad opened #39 "ElasticRayExecutor"
Hi, any plan to support Elastic Horovod?

Thanks,.

[2021-04-29 22:32] amogkam commented on #39
Hi @igorgad this could be very interesting. I think we would first want to upstream an ElasticHorovod plugin in Pytorch Lightning, and then add an ElasticRayHorovod plugin in this library. Do you mind posting an issue on the Pytorch Lightning repo to gauge some more interest for this?

[2021-05-04 16:19] nitin-ppnp commented on #11
@import-antigravity How did you fix the slurm errors? I am still getting `ValueError: signal only works in main thread`

[2021-05-04 16:31] import-antigravity commented on #23
@amogkam did the new commit resolve this?

[2021-05-05 02:26] amogkam commented on #25
Fairscale integration has now been merged (#42). Check it out for low memory distributed training!

[2021-05-20 11:32] Roffmkkkd commented on #13
Hi, @MohammedAljahdali, I met the same problem when I use vscode as my IDE, and I have sovle this.
add the follow code in launch.json:
"env": {"PL_TORCH_DISTRIBUTED_BACKEND":"gloo"},
Windows must use gloo method.....
Weird problem.

[2021-05-24 08:09] theoad commented on #23
Hi, @amogkam. Any update on this issue ? What is the ETA of the release expected to solve the RayPlugin issue ?

[2021-06-09 14:48] huhubrave commented on #23
Hi, @amogkam.   has this issue been solved?

[2021-06-22 19:56] import-antigravity commented on #23
Bump

[2021-06-28 19:36] import-antigravity commented on #23
@amogkam has this been resolved yet?

[2021-06-29 17:50] amogkam commented on #23
Sorry for the delay here- I'm currently working on a fix. Just have to do some more testing to make sure it's fully working but will aim to get the PR up by the end of the week.

[2021-07-02 16:12] import-antigravity commented on #23
Thanks, we appreciate you!!!

[2021-07-14 03:20] Rizhiy opened #60 "Can't use ray_lightning in pytest"
Hi,

When I try to run the code with RayPlugin in my tests, I get the following error:
[code]

`test_runner` is the name of my testing script, but I'm not sure why you would need to serialize anything inside it. It just loads data and calls `Runner`, which is my wrapper around `pl.Trainer`.

How should I properly launch the training?

[2021-07-14 03:22] amogkam commented on #60
Hey @Rizhiy, could you share the `test_runner` script, the full log output, and more information about your setup (how many nodes in the cluster and ray version)

[2021-07-14 03:27] Rizhiy commented on #60
Sure, here is the relevant section of `test_runner`:
[code]

Here is relevant parts of the `Runner`:
[code]

[2021-07-14 03:29] Rizhiy commented on #60
Here is extra stack trace:
[code]

[2021-07-14 03:30] amogkam commented on #60
actually do you mind sharing the entirety of `test_runner`? In particular I want to see where `DictTensorDataset` is defined.

[2021-07-14 03:31] amogkam commented on #60
I think you might be running into this same error https://github.com/ray-project/ray/issues/13528

[2021-07-14 03:31] Rizhiy commented on #60
It is defined above that function, should it also be pickleable?

[2021-07-14 03:32] amogkam commented on #60
Ok got it, see the issue that I linked. I think this should work if you move `DictTensorDataset` to a separate file.

[2021-07-14 03:35] Rizhiy commented on #60
Thanks, that fixed it.

[2021-07-14 03:35] #60 closed

[2021-07-14 03:42] Rizhiy opened #61 "unhandled cuda error, NCCL version 2.7.8"
Hi, I'm getting the following error when trying to run with `RayPlugin`:
[code]

[2021-07-14 03:50] Rizhiy commented on #61
Tried, with `gloo` backend and it seems to be working fine.

[2021-07-14 03:58] amogkam commented on #61
Can you set this initialization hook and then share the full output from the run:

[code]

[2021-07-14 04:01] Rizhiy commented on #61
[code]

[2021-07-14 04:04] Rizhiy commented on #61
I guess it is similar to #24

[2021-07-14 04:16] Rizhiy opened #62 "Devices not being released if training fails"
If an error occurs during training and later caught in the code, the GPUs are not released.

I have a script which automatically relaunches any training runs which fail.
Currently, it cannot work with `ray_lightning`, since devices/addresses are not released if training fails.

[2021-07-14 04:21] Rizhiy opened #63 "Plans to publish to pip?"
Hi, I like the extension you made, but installing it from github is not ideal.

Do you plan to publish it to pip? Having easier access and versions, would be a huge benefit to us.

[2021-07-14 19:49] igorgad opened #64 "Ray cluster with CPU head + GPUs Workers - No GPUs available"
Hi, I'm trying to use the RayShardedPlugin plugin on a CPU head + GPU workers Ray cluster. However, PL currently complains about not having any GPUs available. Is there any workaround for this use case?

[code]
Thanks,.

[2021-07-14 20:27] amogkam commented on #64
@igorgad can you set `gpus=0` in your `Trainer`, but still set `use_gpu` in the `RayPlugin`

[2021-07-14 22:12] richardliaw commented on #63
Yeah! We are planning to do this in a couple days. We will update this issue when we do!

[2021-07-14 23:25] richardliaw commented on #61
Can you try disabling CUDA_VISIBLE_DEVICES?

Like `os.environ.pop("CUDA_VISIBLE_DEVICES")` in init_hook?

[2021-07-16 04:19] igorgad commented on #64
Thanks @amogkam, it worked great. The documentation needs some update though.

[2021-07-16 04:19] #64 closed

[2021-07-26 22:03] Lucecpkn commented on #23
Thanks for your great work!   Is there any update on this issue?

[2021-08-01 06:02] import-antigravity commented on #23
Got the following warning:
`WARNING trial.py:342 -- Passing `extra_*` resource requirements to `resources_per_trial` is deprecated. Please use a PlacementGroupFactory object to define your resource requirements instead.`

[2021-08-10 03:36] amogkam commented on #62
Hey @Rizhiy sorry for the late response.

By GPUs not being released, do you mean that there are still Ray processes being run on the GPUs?

[2021-08-10 19:18] #23 closed

[2021-08-11 19:39] #38 closed

[2021-08-11 21:20] Lucecpkn commented on #23
Sorry, I tried and it still doesn't work for me with 2 GPUs using the updated package.
I try to follow the guide in the Readme, by setting
` ray_plugin = RayPlugin(num_workers=num_workers, num_cpus_per_worker=num_cpu,  use_gpu=True)` and not setting `--gpus` for traner.
If i set `resources_per_trial=get_tune_ddp_resources(num_workers=num_workers)`, it will not use any GPU and get stuck.
If i set `

[2021-08-11 21:35] amogkam commented on #23
@Lucecpkn can you also pass in `use_gpu=True` into `get_tune_ddp_resources`

[2021-08-11 23:51] amogkam commented on #23
@Lucecpkn I'm able to successfully run the `ray_ddp_tune.py` example with GPU.

[2021-08-12 01:37] Lucecpkn commented on #23
Hi @amogkam, thank you for the reply!

I work with 4 CPUs, 2 GPUs on a single node via Slurm.
I want to use all 2 GPUs for every trial, so I set `num_workers=1`.  The main part of my code is as below:

[code]

The **output** shows how it gets stuck in an infinite loop:

[2021-08-12 16:47] amogkam commented on #23
Hey @Lucecpkn, yes this is because when using with Tune the driver needs to reserve 1 CPU in addition to the resources required for training. So in your example, each trial will require 5 CPUs and 2 GPUs and thus there's not enough resources in the cluster to actually run any of the trials.

Instead, I would recommend setting `cpus_per_worker` to 1. It only makes sense to set it to more than 1 if

[2021-08-12 16:48] igorgad opened #73 "GPU memory is higher than expected"
Hi, thanks for this project.
I've been following the recent updates and strangely the models/checkpoints that used to fit on gpu memory do not fit anymore. I think it was introduced [here](4dcbdf0aa4a94c48c53c4263c380ead3dca6fea7), and it seems that the model/checkpoint is loaded twice in the gpu rank 0.

Thanks,.

[2021-08-12 17:04] amogkam commented on #73
Hey @igorgad thanks for posting the issue! The link seems to be broken for me. Which code change are you referring to?

[2021-08-12 17:08] igorgad commented on #73
Hi, sorry about that. I think it was introduced in this commit:
https://github.com/ray-project/ray_lightning/commit/4dcbdf0aa4a94c48c53c4263c380ead3dca6fea7

[2021-08-12 17:13] amogkam commented on #73
Got it, do you have a small script that I can run showcasing this behavior? Also what did you use to identify that the model is being loaded twice?

[2021-08-12 18:52] amogkam commented on #63
This was published just now!

[2021-08-12 18:52] #63 closed

[2021-08-12 19:09] amogkam commented on #73
Hey @igorgad I tried this out on a simple example and I'm not seeing any additional GPU memory usage with this commit vs. without.

I'm happy to help debug this if you can provide a reproducible script.

[2021-08-12 19:24] igorgad commented on #73
Hi @amogkam, there's no need.
I just found a bug in my 'init_hook` that went unnoticed. I'm terribly sorry about creating this issue and I'll close it for now.
But if I may, here are a couple of things that you might want to change:
- Documentation and examples use `cpus_per_worker` while the code has `num_cpus_per_worker`
- In my fork, I added options to customize resources and accelerator_type,

[2021-08-12 19:29] #73 closed

[2021-08-12 19:34] amogkam commented on #73
Hey @igorgad no worries! For the documentation, that's a good catch! These things are easy to miss so I really appreciate the feedback here.

Regarding placement, do you mind posting this as another issue/feature request with some more details? In particular, I'm curious about your use case- why do you need these advanced placement options and strict pack? Thanks!

[2021-08-12 20:08] Lucecpkn commented on #23
Hi @amogkam,  I followed your suggestion to decrease the `cpus_per_worker` and indeed the trials can be run now.
But I do want to keep using multiple GPUs for every trial because I want the large effective batch size which is impossible to fit on 1 GPU.   However, the Tune still uses only 1 GPU, weather I set `use_gpu`=True or 2. Any idea why?

[2021-08-16 04:55] igorgad opened #76 "Fault tolerant workers"
Hi,
Whenever a worker fails and ray tries to recreate it I receive the following error.

`types.RayTaskError(ValueError): ray::RayExecutor.execute() (pid=10054, ip=172.31.18.173)
  File "python/ray/_raylet.pyx", line 534, in ray._raylet.execute_task
  File "python/ray/_raylet.pyx", line 484, in ray._raylet.execute_task.function_executor
  File "/home/ray/anaconda3/lib/python3.8/site-packages/ray/_

[2021-08-17 17:53] import-antigravity opened #77 "Ray lightning not using GPU"
I'm trying to use the new version of ray_lightning but I get the following warning from Tune:

[code]

I printed out the PlacementGroupFactory resources requested by `get_tune_ddp_resources` and it is requesting GPUs:
[code]

Checking the Ray dashboard confirms that GPUs are not actually being used for training.

[2021-08-17 17:54] import-antigravity commented on #77
Additional info: I'm running on a SLURM cluster with the following conda dependencies:

[code]

[2021-08-17 17:56] amogkam commented on #77
Hey @import-antigravity thanks for raising this issue!

Could you also share your code, or a reproducible script showing the bug?

[2021-08-17 18:00] import-antigravity commented on #77
https://colab.research.google.com/drive/1MQuL8gV62ZZYksoJDMSuZE4rpLWR1Fe8?usp=sharing

This shows the warning as well as pytorch lightning showing GPUs not available

[2021-08-17 18:02] igorgad commented on #73
@amogkam hi, it turns out I'm able to control placement with the `resources` option. Thank you for your interest in this.

[2021-08-18 03:07] import-antigravity commented on #77
It looks like my CUDA actually wasn't set up correctly, oops! I'm now having an unrelated issue that I messaged you on Slack about

[2021-08-18 03:07] #77 closed

[2021-08-20 00:01] anicolson opened #79 "Multi-node with Ray Tune and Slurm Ray Cluster"
Hi, would someone be able to show me how to use multiple nodes with ray tune based on the example in README.md (if that functionality is available yet)? For example, `num_gpus=4` and `num_nodes=2`?

[code]

[2021-08-20 00:04] amogkam commented on #76
Hey @igorgad - yep this is definitely something that we would like to do down the line and I can add it to our roadmap. OOC, this is mainly so that you can use spot instances, correct?

[2021-08-20 00:09] amogkam commented on #79
Hey @anicolson!

To run with multiple nodes, you actually don't need to make any changes to your code. The same code that runs on your laptop can then parallelize across multiple nodes when run on a Ray cluster.

The question is: how do you start a Ray cluster?  You can follow the instructions here https://github.com/ray-project/ray_lightning#multi-node-distributed-training, to use Ray's Cluster l

[2021-08-20 00:21] anicolson commented on #79
Thanks for the reply @amogkam.

I am using a cluster with a Slurm manager. Would I be able to start a Ray cluster from within a slurm job?

Thanks.

[2021-08-20 00:26] amogkam commented on #79
Ah yes, in that case you can check out the guide here for how to start a Ray cluster on Slurm: https://docs.ray.io/en/latest/cluster/slurm.html

[2021-08-20 01:05] igorgad commented on #76
Hi, tbh spot instances is a plus but very welcome and I think it's a great feature for this project. Elastic training would be awesome.

But the reason I'm having this issue regards a strange behavior from my cluster restarting the worker nodes when a file sync is triggered. I'm using continuous file sync given that I have a few permanent worker nodes.

I'm sure this is not the space, but would be

[2021-08-23 04:03] anicolson commented on #79
Thanks for the help @amogkam.

I am trying with two nodes, each with 4 GPUs at the moment. However, it seems that only one of the nodes is being used. When using 1 workers per trial (i.e. 1 GPU), the status looks like this:

[code]
I would assume that there would be eight trials processing concurrently, not just four.

I have got a toy example setup based on https://github.com/ray-project/ray_ligh

[2021-08-23 08:47] anicolson commented on #79
Adding the following before `tune.run()` did not seem to help: `    ray.init(address=..., _redis_password=...)
`

[2021-08-23 18:26] amogkam commented on #79
Hey @anicolson it looks like your Tune job is not using all the nodes. This means that either the worker nodes didn't start up properly, or it's not connecting to the Ray cluster, but is instead starting a local ray instance on just the head node.

That's correct you do need to specify the address when you do `ray.init()` (you can do `ray.init("auto")` to automatically connect to the cluster. What

[2021-08-24 00:48] anicolson commented on #79
Thanks, was just a silly issue where I was not getting `_node_ip_address` and `_redis_password` from `slurm_ray_cluster.sh`. `ray.nodes()` and `ray.cluster_resources()` really helped.

Thanks for your help @amogkam.

[2021-08-24 00:48] #79 closed

[2021-08-24 07:58] zuston commented on #39
Interesting. May generic elastic mode should be introduced not only on horovod, also can be applied on pytorch. @igorgad @amogkam

[2021-08-25 10:43] anicolson opened #81 "Optimising with respect to the epoch that scored highest for a trial (instead of the last epoch)"
Hi,

I am using `metric="acc"` for `ray.tune`, with `mode="max"`. However, I think that the score for the last epoch is being used as the "best" score for the trial.

E.g., for trial `train_mnist_c1a02_00000 ` from the following console output, the reported `acc` is `0.942736`:

[code]

However, when looking at `progress.csv` in `tune_mnist/train_mnist_c1a02_00000_0_batch_size=64,layer_1=128,layer

[2021-08-30 02:47] #81 closed

[2021-08-30 04:31] anicolson opened #83 "GPU resources not being released"
Hi, I am having issues where ray is not releasing GPU memory. This is resulting in trials crashing after this occurs.

See the output of `nvidia-smi`, where no processes are associated with the memory used in GPUs 1 and 2:

![image](https://user-images.githubusercontent.com/26111230/131285146-a2250319-54ff-4bf4-b202-646a3aab4031.png)

But looking at `fuser`, some ray processes are still memory-map

[2021-08-31 22:32] anicolson commented on #83
Trying this:

[code]

[2021-09-01 01:09] anicolson commented on #83
Above didn't work, will try to make a reproducible example,

[2021-09-01 20:11] amogkam commented on #83
Hey @anicolson, do you mind posting this as an issue in the main Ray repo? Thanks!

[2021-09-02 04:22] richardliaw commented on #83
@anicolson I'll help port this issue to the main Ray repo

[2021-09-02 14:17] MarkusSpanring opened #84 "CUDA devices are not exposed when running in DDP mode with multiple GPUs"
Hi all!

First of all thanks for this great project!

To my issue:
When I tried your [example](https://github.com/ray-project/ray_lightning/tree/bc59fd4cb067d7e1ac1197d9a4e6fac1427cbd45#hyperparameter-tuning-with-ray-tune) for hyperparameter tuning I discovered that it only worked when using `cpu`. After some digging, I found out that the problem is related to [get_tune_ddp_resources](https://gith

[2021-09-02 16:32] amogkam commented on #84
Hey @MarkusSpanring, just making sure are you also passing in `use_gpu=True` into `get_tune_ddp_resources`?

[2021-09-02 17:11] MarkusSpanring commented on #84
Hey @amogkam! Thanks for the quick reply.  Thanks for also replying here [here](https://discuss.ray.io/t/tune-detects-gpus-warning-trigger-even-though-gpu-is-requested-in-resources-per-trial/3433/2). I should have added this also here and not only in the Forum. Yes, I have set
[code]

This should give me `tune.PlacementGroupFactory([{"CPU": 1}, {"CPU": 1, "GPU": 1}, strategy=PACK])` right?
It seem

[2021-09-02 21:06] amogkam commented on #84
Ah yes the head bundle not having GPUs is expected behavior. The reason for this is that Ray Lightning spawns new actors to actually execute the training. These actors are placed on the child bundles which require GPU. However, no training actually occurs on the main process, so if the head bundle contains GPUs, then it would just be idle and thus would be a waste. Therefore, we don't expose GPUs

[2021-09-02 21:32] MarkusSpanring commented on #84
Training is only working with CPU but not with GPU.

I fully understand that the head bundle not having GPUs is desired/expected in that case. However, it seems that when Lightning is trying to allocate the GPUs it is using the `CUDA_VISIBLE_DEVICES` provided in the main process. Since there is no GPU exposed there, training fails. So I only managed to run training on GPU by setting  `CUDA_VISIBLE

[2021-09-02 22:03] amogkam commented on #84
@MarkusSpanring what version of PyTorch Lightning do you have? Are you running the example script exactly as is? Can you share the full output you are seeing?

[2021-09-03 12:21] MarkusSpanring commented on #84
@amogkam I use
[code]
I created a gist with the setup I am using to run the tests [here](https://gist.github.com/MarkusSpanring/b0d4095241093f394031302e6c48a782)
From this I get the following output
[code]

[2021-09-03 15:20] amogkam commented on #84
@MarkusSpanring thanks! Can you not specify gpus in the Trainer? Then this should work.

[2021-09-06 08:45] juyunsang opened #86 "ValueError: Message ray.rpc.DataRequest exceeds maximum protobuf size of 2GB"
Hello
Training with large size data(2GB) results in the following error.
There is no problem with small size of learning data

[code]

[2021-09-06 09:00] MarkusSpanring commented on #84
@amogkam yes, that works. Thanks!
 I also have a problem when specifying `num_workers` in the  `DataLoader`. I can open a new Issue if you say so but let me ask it here already.
 How should I specify `num_workers` for the dataloader. Currently  I specify `num_workers` in `DataLoader(self.mnist_train, batch_size=int(self.batch_size), num_workers=4)` e.g. [here](https://gist.github.com/MarkusSpanrin

[2021-09-07 16:42] amogkam commented on #86
Hey @juyunsang, I am going to move this over as an issue to the main Ray repo. Can you provide a reproducible script for this error? Thanks.

[2021-09-07 16:48] amogkam commented on #84
Hey @MarkusSpanring, they way you are doing this sounds right. Could you post a new issue about the GPU memory not being cleaned up?

[2021-09-07 18:06] MarkusSpanring commented on #84
@amogkam will do.
Thanks for the help with this!

From my side, the issue can be closed.

[2021-09-08 08:42] MarkusSpanring opened #87 "GPU memory not cleaned properly when using multiple workers in DataLoader"
Hi all!

When I try to use multiple workers in the `DataLoader` by specifying `num_workers` some of the processes stay alive after the run and occupy GPU memory.
For my tests I am using [this](https://gist.github.com/MarkusSpanring/b0d4095241093f394031302e6c48a782) script and the following setup
[code]
When setting e.g. `num_workers=4` [here](https://gist.github.com/MarkusSpanring/b0d4095241093f39

[2021-09-12 22:39] import-antigravity opened #89 "Stalls if num_workers is too high"
I've noticed that while running on my SLURM cluster, if num_workers is set to too many (as far as I can tell this is an arbitrary amount) the job starts and the Ray dashboard shows that GPUs are being fully utilized but the job stalls and times out.

Python script:

[code]

SLURM script:

[code]

[2021-09-17 18:32] import-antigravity opened #92 "Not possible to limit number of checkpoints written"
Currently `ray_lightning.tune.TuneReportCheckpointCallback` simply writes new checkpoints every time it's called, which can really add up if you're doing it every epoch (such as with PBT, etc.) It would be nice if it were able to somehow delete checkpoints after not being needed anymore.

[2021-09-17 21:58] #84 closed

[2021-09-17 21:59] amogkam commented on #92
Hey @import-antigravity, you can do this by setting the `keep_checkpoints_num` argument in `tune.run`. https://docs.ray.io/en/latest/tune/api_docs/execution.html#ray.tune.run

[2021-09-20 15:51] import-antigravity commented on #92
Awesome, thanks! I didn't realize it was compatible with that flag.

[2021-09-20 15:51] #92 closed

[2021-09-23 01:23] import-antigravity opened #94 "DataLoader multiprocessing causes jobs to fail"
I get a "DataLoader killed by signal" error when I set the dataloader `num_workers` to something other than 0, which disables multiprocessing. I'm running into bottlenecks due to this, is there a chance that this is being caused by ray lightning? I can try to make a script to reproduce the issue but I think it's highly dependent on the specific nature of the code, like what dataset is being used.

[2021-09-23 01:23] import-antigravity commented on #94
Kind of like [this](https://discuss.pytorch.org/t/runtimeerror-dataloader-worker-pid-27351-is-killed-by-signal-killed/91457)

[2021-09-23 10:30] Nesqulck opened #95 "Bad argument name in RayPlugin"
Hey just a minor issue if at all. I noticed that in RayPlugin there exists an argument "num_cpus_per_worker" but in get_tune_ddp_resources it is called "cpus_per_worker". I can imagine that this might lead to some confusion since the num_workers and use_gpus are the same in both. I don't know if this is intentional.

[2021-09-23 17:59] amogkam commented on #95
Thanks for catching this! No this was not intentional. I'll rename the args to standardize on `num_cpus_per_worker`.

[2021-09-23 18:01] amogkam commented on #89
What's the behavior you're seeing when it stalls/times out? Is this an actual TimeoutError, or is it just hanging with no progress being made? It would be great if you can send what your stdout looks like when you're seeing this happening.

[2021-09-23 18:11] amogkam commented on #94
It seems like this is due to the Ray Lightning workers not having enough memory: https://discuss.pytorch.org/t/runtimeerror-dataloader-worker-pid-27351-is-killed-by-signal-killed/91457/9.

Are you still seeing the same problem if you reduce the number of workers in the plugin? How many workers are being placed on each node?

[2021-09-23 18:26] #95 closed

[2021-09-23 19:47] import-antigravity commented on #89
That's the strange thing, it just hangs without starting any tuning trials.

[2021-09-23 19:48] import-antigravity commented on #94
I've only been trying with maximum 1 worker per node. I can try increasing the memory.

[2021-09-23 20:22] import-antigravity commented on #94
So I get the error and then later on I get a CUDA OOM, but I don't know if it's due to the dataloader or due to #62...

[2021-09-26 18:29] import-antigravity commented on #89
[code]

[2021-10-27 14:12] jwohlwend opened #99 "Error when using 16 bit precision"
Hi, thank you for the great integration of Lightning & Ray!

I found that using 16 bit precision returns the following error: `pytorch_lightning.utilities.exceptions.MisconfigurationException: You have asked for native AMP on CPU, but AMP is only available on GPU`

Using the same script, with 32 bit works fine.

I believe this is due to the fact that the number of GPU's is only set in the Ray Plug

[2021-11-01 19:12] jwohlwend commented on #99
@amogkam it appears that the fix you proposed breaks tune usage, i get errors of the type: `you requested gpus [0] but you machine has []`. Removing the gpu argument to the Trainer results in tune working as expected

[2021-11-04 00:46] pablete commented on #99
I am encountering this issue too.

I am following the recommendation for leaving the head node configured with resources: {"CPU": 0}  to avoid scheduling additional tasks on it. ( https://docs.ray.io/en/master/cluster/guide.html#deployment-guide )
The pattern of CPU head and GPU worker nodes seems very reasonable (at least for large clusters)

Also If one has a mix of workers with `acceleator_type

[2021-11-04 01:40] pablete opened #100 "Include resources_per_worker when configuring RayPlugin / RayShardedPlugin"
I have a large cluster deployed in AWS that has a mix of workers with:
`acceleator_type:T4` ,  `accelerator_type:V100`, and `accelerator_tyep:A100`

Currently there is no way one can specify `resources_per_worker` in `RayPlugin` to schedule into a different group of workers.
Like:
[code]
This flexibility is already implemented in Ray Train https://github.com/ray-project/ray/blob/master/python/ray/

[2021-11-05 03:02] igorgad commented on #100
Hi @pablete, I did some improvements in this regard on a fork I currently hold on my personal account. Happy to submit a PR if the authors here think it's worth it.

https://github.com/igorgad/ray_lightning/blob/main/ray_lightning/ray_ddp.py

[2021-11-05 14:12] zdenek-syntensor opened #101 "RayEnvironment.creates_children should now be RayEnvironment.creates_processes_externally."
As per the recent removal of the deprecated creates_children in pytorch-lighting [commit](https://github.com/PyTorchLightning/pytorch-lightning/pull/10339).

Otherwise throws with `Can't instantiate abstract class RayEnvironment with abstract methods creates_processes_externally`.

[2021-11-27 23:41] richardliaw commented on #101
Is anyone interested in making a PR to migrate this forward?

[2021-11-28 01:48] richardliaw commented on #100
@igorgad a PR would be greatly appreciated :)

[2021-12-03 21:10] grechaw commented on #101
@richardliaw I made a PR for this -- I'm not sure what kind of test I could quickly run to make sure it works.

[2021-12-08 22:36] grechaw opened #108 "Upgrade to work with pytorch lightning 1.5 (and 1.6?)"
There are a lot of backward incompatibilities in 1.5

https://github.com/PyTorchLightning/pytorch-lightning/releases/tag/1.5.0

[2021-12-08 23:47] amogkam commented on #108
This work is currently in progress!

[2021-12-09 19:47] amogkam opened #109 "Ray Lightning is seeking additional maintainers/contributers!"
Hey all, thanks for using the Ray Lightning library so far!

In order to keep this library up to date and continue to build new features in a timely manner, we are looking for developers who would be interested in becoming a maintainer! This would involve making PR contributions and addressing issues, and also having permissions to triage issues, merge PRs, and cut releases (and getting some Ray s

[2022-01-19 23:58] #100 closed

[2022-01-20 00:31] #108 closed

[2022-01-20 00:32] amogkam commented on #101
We have support for PTL 1.5 now that https://github.com/ray-project/ray_lightning/pull/115 is merged!

[2022-01-20 00:32] #101 closed

[2022-01-24 10:46] Borda opened #148 "[Feature] integrate with Lightning ecosystem CI"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Hello and happy that you show integration with PL! :tada:
Just wondering if you already heard about quite the new **Pytorch Lightning (PL) ecosystem CI** where we would like to invite you to... You can check out our blog post about it

[2022-01-25 06:56] #61 closed

[2022-02-15 12:50] shahnazari commented on #13
Right. So mainly if a person encounters such runtime error, there is a backend=nccl in a piece of code somewhere where they should change it to backend=gloo to run on Windows.

[2022-02-15 12:50] Roffmkkkd commented on #13
邮件已收到啦，感谢来信！

[2022-02-15 16:49] amogkam commented on #13
@shahnazari if you just set the environment variable `PL_TORCH_DISTRIBUTED_BACKEND=gloo`, then your script would use the gloo backend and not nccl. There shouldn't be any changes needed to the code! Let me know if this works!

[2022-02-18 17:08] gunthergl opened #124 "Fractional GPU training"
Hi guys, just stumbled across these days and love your package!

However, I get an error when trying to train with GPU fractions. The last PR was here https://github.com/ray-project/ray_lightning/pull/121.
Makes perfect sense that this error is thrown, but I do not know enough about ray nor ray_lightning to understand `local_rank`.

Do you have an idea how to fix this?

[code]

Maybe relevant piec

[2022-02-19 08:31] amogkam commented on #124
Hey @gunthergl, thanks for bringing this up! That's right this is a bug with the device id calculation and should be fixed once this PR is merged in https://github.com/ray-project/ray_lightning/pull/125.

Though if you are using multiple training workers, I would warn against using less than 1 GPU per worker. In general, torch advises against sharing GPU devices across processes as these often lea

[2022-02-19 14:06] sergii-ivakhno-kidsloop opened #126 "Pytorch-lightning Ray plugin does not connect Ray cluster"
I have set-up the Ray GPU cluster (g4dn.12xlarge workers) with `ray up config.yaml` and have installed all package dependencies within ray config.
However when I attempt distributed training I
`MisconfigurationException: GPUs requested but none are available.`

This is the code - any suggestions would be most appreciated!
[code]
And Ray config

[code]

[2022-02-19 18:35] amogkam commented on #126
@sergii-ivakhno-kidsloop could you share the full stack trace? I think you would just need to remove the `gpus=-1` arg from the `Trainer` since you already have `use_gpu=True` set in the `RayPlugin`. The Pytorch Lightning Trainer is not aware of Ray's autoscaling so since your head node has no GPUs, I think it's immediately failing.

[2022-02-19 18:36] amogkam commented on #126
And also can you try with adding `ray.init("auto")` at the beginning of your script.

[2022-02-21 08:16] gunthergl commented on #124
Hi @amogkam, thank you for immediately fixing that!

Also thank you very much for the advice, that might save me quite a bit of bug-search in the future.

[2022-02-22 00:21] DavidMChan opened #127 "Cannot Use GPUStatsMonitor callback with Ray Lightning"
The [GPUStatsMonitor ](https://pytorch-lightning.readthedocs.io/en/stable/extensions/generated/pytorch_lightning.callbacks.GPUStatsMonitor.html#pytorch_lightning.callbacks.GPUStatsMonitor) Callback records information about the GPU utilization in Tensorboard logs, however when running with ray_lightning, it raises a MisconfigurationException:
[code]

This is due to the code in the stats monitor ca

[2022-02-23 00:08] amogkam commented on #127
Hey @DavidMChan yes that's right this is the same issue as https://github.com/ray-project/ray_lightning/issues/99. Ray Lightning does set the device type to gpu (when `use_gpu=True`) but only on the workers that actually execute training. But for things like mixed precision or GPUStatsMonitor callback, Pytorch Lightning requires GPUs to be enabled on the driver side as well. If you set `gpus=1` in

[2022-02-24 08:59] tchaton opened #128 "PyTorch Lightning Launchers"
Hey @amogkam,

PyTorch Lightning v1.6 coming mid of March would make the Accelerator API stable.

PyTorch Lightning introduced [Launchers](https://github.com/PyTorchLightning/pytorch-lightning/tree/master/pytorch_lightning/strategies/launchers) for Distributed Plugin and I believe this would be a more stable way to maintain compatibility for Ray Lightning. I believe this framework could implement

[2022-02-24 14:51] addisonklinke commented on #81
@anicolson Did you come up with a final solution? From the most recent comment, it sounds like things were still a bit up in the air

[2022-02-28 19:30] Hamptonjc opened #130 "Pytorch Lightning DataModule Support?"
I've been trying to run a distributed setup with Ray Lightning however it seems the worker nodes aren't downloading the data via my data module's prepare_data() function. I have set the data module's hook "prepare_data_per_node" to True, but the issue persists. The documentation doesn't mention data modules, thus I am wondering if Ray Lightning supports them?

[2022-03-08 22:13] TalTaiber commented on #13
Saved my day 👍

[2022-03-08 22:13] Roffmkkkd commented on #13
邮件已收到啦，感谢来信！

[2022-03-15 05:50] iamgmujtaba commented on #13
You can also write in the main python script
import os
os.environ["PL_TORCH_DISTRIBUTED_BACKEND"] = "gloo"

[2022-03-28 19:15] rogertrullo opened #131 "num-workers clarification"
Hi,
I am trying to use this ray-lightning with Tune in a distributed environment but I am not sure on how to define the `--num-workers`.
Could you please help me to clarify that? Let's say I have 2 machines each one with 2 GPUs, and I want to run each trial on 12 cpus and 2 gpus. What would be the correct definition of ` num_workers, num_cpus_per_worker` and `use_gpu`?
Thanks!

[2022-03-28 20:31] krfricke commented on #131
Hey Roger, the number of GPUs in data parallel training with Pytorch Lightning is defined by the number of workers you're starting. Thus, you would use 2 workers here with 1 GPU and 6 CPUs each.

num_workers=2
num_cpus_per_worker=6
use_gpu=1

[2022-03-29 05:05] rogertrullo commented on #131
Thanks @krfricke !, so in this case EACH trial would use 6 cpus and 1 GPU? or each trial would use 12 cpus and 2 gpus?

[2022-03-30 18:06] KevinCrp opened #132 "Tune.run() doesn't finish with trainer.test() call."
Hi,
I'm using the ray-lightning 0.2.0 version with PL 1.5.9, to use hyperparameters optimization in parallel.
The following script doesn't finish, and trainings are still running even when my test metrics are printed (so the test function is terminated).
If I remove 'trainer.test()' then the script finishes normally.
I have tested this code with ray-lightning 0.1.1 version with PL 1.4.9. and it is

[2022-04-01 13:50] KevinCrp opened #133 "Parallel Tuning with GPUs"
Hi,
I'm looking for parallel tuning on a machine with several GPUs.
When I launched ray_lightning tune with:

[code]

I launched with:
[code]

Instead of launching two training with one GPU each, it launches the first training with two GPUs and then the second with the two GPUs.
How can I do parallel training?

Thanks

[2022-04-01 13:57] KevinCrp commented on #133
I have found how to do what I want.
Just set num_worker (in get_tune_ressources and RayPluging) to 1 it works.
:)

[2022-04-01 13:57] #133 closed

[2022-04-08 06:34] scv119 commented on #87
@MarkusSpanring by any chance you got this issue resolved?

[2022-04-08 07:20] MarkusSpanring commented on #87
@scv119 not yet.
FYI, I was able to boil it down to the PyTorch DataLoader. I have opened an [issue](https://github.com/pytorch/pytorch/issues/66482) already but there is no comment/fix yet.

[2022-04-08 19:11] amogkam commented on #131
@rogertrullo in this case each trial will run 1 data parallel training run, and that training run itself will be parallelized with 2 workers.

So it would look like this

- Trial 1: 12 CPUs, 2 GPUs
    - Worker 1: 6 CPUs, 1 GPU
    - Worker 2: 6 CPUs, 1 GPU
- Trial 2: 12 CPUs, 2 GPUs
    - Worker 1: 6 CPUs, 1 GPU
    - Worker 2: 6 CPUs, 1 GPU

[2022-04-08 22:21] amogkam commented on #132
@KevinCrp how many workers are you using in your `DataModule`? I believe this should work if you set the `num_worker` in the `DataModule` to 0. Not sure exactly what's going on, but there have been problems with using multiprocessing within Ray in the past: https://github.com/ray-project/ray_lightning/issues/87

[2022-04-11 17:14] #124 closed

[2022-04-13 22:33] yinweisu opened #138 "Not detecting GPU within trials when HPO"
I tried to use ray lightning + ray tune to do distributed HPO and found GPUs are not available within the trial even when I set `use_gpu` to be True in both the `RayPlugin` and `get_tune_resources`.
I can see the following output in the trial:
`GPU available: False, used: False`

Similar result can be observed with the provided example in the README, with corresponding changes to `use_gpu`.

I che

[2022-04-13 22:59] amogkam commented on #138
Hey @yinweisu that's right by default only the training worker processes reserve and use GPU, but the main process for each trial does not use GPU. This is because the main process does not actually do any training, so in general it does not make sense for it to reserve GPUs and not use it: see the discussion here https://github.com/ray-project/ray_lightning/issues/23.

If you do want to use GPUs

[2022-04-13 23:09] yinweisu commented on #138
Thanks for the info.
Just read through the thread. Does assigning fractional gpu to main process still work?

[2022-04-13 23:16] amogkam commented on #138
Yes that would still work!

[2022-04-14 00:57] 2a3b4c commented on #24
@amogkam hi, thanks for your answers, i have met the same question about the NCCL, and his error happened when i used gpu devices named 1 and 2. But i try to train my network on other devices (e.g. 3 and 4) and it worked.  So i am so confused about that.

[2022-04-14 01:14] amogkam commented on #24
@2a3b4c Is there a difference between the GPU devices? And is this using the latest version of Ray Lightning?

[2022-04-14 04:08] 2a3b4c commented on #24
@amogkam  they are all GTX3090, i think there is no difference between, shall i need to run `nvidia-smi topo -m` to verify their topo?
hmm, i used DDP to train my network, so i haven't use Ray Lightning? Is there a relationship between ray lightning and nccl?

[2022-04-14 04:09] amogkam commented on #24
Oh this GitHub repo is the ray_lightning library. If you have issues with generic pytorch ddp, your best bet would be to raise an issue with PyTorch.

[2022-04-14 04:13] 2a3b4c commented on #24
ok, thanks for your help!

[2022-04-14 05:40] hanli-0612 opened #139 "Unable to create HorovodRayPlugin due to missing horovod API"
Hi,

I'm trying to re-run [this](https://github.com/ray-project/ray_lightning/blob/main/ray_lightning/examples/ray_horovod_example.py) example code locally on my laptop, and observed the following issue:

[code]

The packages I've installed in my test:
[code]

Could I get some help in debugging this missing API? Thanks for the help in advance!

[2022-04-14 06:25] amogkam commented on #139
Hey @hanli-0612 how are you installing horovod? Is it being installed with PyTorch support enabled? `HOROVOD_WITH_PYTORCH=1 pip install horovod[pytorch]`. https://horovod.readthedocs.io/en/stable/install_include.html#pytorch

[2022-04-14 16:28] hanli-0612 commented on #139
@amogkam Thank you it works! Closing the issue :)

[2022-04-14 16:28] #139 closed

[2022-04-14 17:11] yinweisu commented on #138
Hi @amogkam, I'm trying to collect results of each distributed trial and do some post-processing in the end. Currently, we have logic checking if the `global_rank == 0` and do the post-processing. However, because of the fact that the main process has only 1 cpu and no gpu, and we don't want to waste a gpu to only do post-processing and not training. I tried to do `global_rank == 1` instead, and h

[2022-04-18 20:42] amogkam commented on #138
Hey @yinweisu the trainable function is just run once, and does not actually do any training. Inside the trainable function, when you do `trainer.fit` with a Trainer that contains the `RayPlugin`, this will launch N Ray actors, and these actors are what actually do the data parallel training.

Since `trainable` doesn't actually do training and is just run once, the global rank of the trainer insid

[2022-04-18 20:50] amogkam opened #141 "[Tune] Run rank 0 worker in main process when used with Tune"
Running Ray Lightning with Tune has led to various confusions with how resources are handled (https://github.com/ray-project/ray_lightning/issues/138, https://github.com/ray-project/ray_lightning/issues/23).

Currently, the Tune trainable process does not do any training and does not reserve any GPUs. However, since Pytorch Lightning does not support heterogenous setups (CPU only driver with GPU w

[2022-04-19 21:06] #132 closed

[2022-04-22 20:23] yinweisu opened #143 "Support for torch lightning 1.6 and future support"
Currently the master branch supports TL 1.5. What's the plan and timeline regarding TL 1.6?

Also, we want to utilize distributed HPO with each trial being distributed itself, and found ray tune recommends this project. We are a little bit worried about whether this project will continue to be supported because the activity of this project is relatively low. Do you have a roadmap?

[2022-04-23 15:58] xwjiang2010 commented on #143
Hello!
Ray Lightning is still actively maintained by the Ray team. There is a pull request to support TL 1.6 but likely some work needs to be done before that could happen.
Also have you looked at [Ray Train](https://docs.ray.io/en/latest/train/train.html)? There is also the next generation Ray AI Runtime that is coming into beta soon: https://github.com/ray-project/ray/issues/22488. You case soun

[2022-04-24 16:34] dynamicwebpaige commented on #143
+1 for updating support for PyTorch Lightning 1.6; and adding a [link to this open PR on `ray_lightning`](https://github.com/ray-project/ray_lightning/pull/140).

[2022-04-27 17:40] dongchirua commented on #87
Thanks, I also encounter this issue when triggering `validation_end`. Hope it will be fixed soon

[2022-04-28 21:54] yinweisu opened #144 "[Tune] Ray Tune + Ray Lightning too many tasks warning"
I noticed such warning log constantly being logged out while using Ray Tune + Ray Lightning. For example:
` Warning: More than 20000 tasks are pending submission to actor 386ebf690ec87ad0d825174701000000. To reduce memory usage, wait for these tasks to finish before sending more.`

Do I need to worry about it?

[2022-04-28 21:58] xwjiang2010 commented on #144
Can you provide a reproduce script?

[2022-04-28 22:09] yinweisu commented on #144
Hi @xwjiang2010

Thanks for the fast response! I was trying to make a reproducible script with the ray tune example provided by this repo: https://github.com/ray-project/ray_lightning/blob/main/ray_lightning/examples/ray_ddp_tune.py. However, that example itself is broken as well...

Essentially, I'm not doing anything special. Just tune pytorch lightning models on a multi-gpu machine.

[2022-04-28 22:58] xwjiang2010 commented on #144
Hi @yinweisu
The example actually runs in our CI and I just tried it again on my local laptop.
Do you mind checking what is your current ray and ptl version?

[2022-04-28 23:03] yinweisu commented on #144
I think the example doesn't run because of a problem with pl_bots:
[code]
For versions:
[code]

[2022-04-28 23:06] yinweisu commented on #144
They haven't release it into pypi though

[2022-04-28 23:07] amogkam commented on #144
https://pypi.org/project/lightning-bolts/0.3.3/

[2022-04-28 23:07] amogkam commented on #144
The package name has been changed from `pytorch-lightning-bolts` to just `lightning-bolts`

[2022-04-28 23:10] yinweisu commented on #144
Makes sense. Thanks @amogkam
I just ran the example with command: `python3 test_ray_lightning.py --num-workers 2 --use-gpu`
and could see such warning as well:
[code]

For more context, this is a g4dn.12xlarge machine with 4 gpus from AWS

[2022-04-28 23:33] amogkam commented on #144
Thanks @yinweisu! So I am able to reproduce this and see the warning...I think this may be erroneously reported. When upgrading to Ray 1.12 I am not seeing this anymore.

[2022-04-29 20:20] yinweisu opened #145 "[Tune] PBT/PB2 doesn't work correctly with Ray Lightning"
When using PBT/PB2, I received the following error:
[code]
This issue happens after the trial is paused and resumed.
I was able to reproduce this issue with some modifications on the example provided by ray lightning:
[code]
The args I passed in: `python3 test_ray_lightning.py --use-gpu --num-workers 2 --num-samples 4`

Versions:
[code]

[2022-04-29 20:28] #144 closed

[2022-05-01 04:36] xwjiang2010 commented on #145
Hi @yinweisu
Thanks for reporting. I believe this is a valid issue. Was able to reproduce it on my set up as well.
After a bit digging, it seems this is a known issue with ptl 1.5:
https://github.com/PyTorchLightning/pytorch-lightning/discussions/11435
https://github.com/PyTorchLightning/pytorch-lightning/issues/12327

The solution is basically to upgrade to ptl 1.6. @amogkam Another datapoint tha

[2022-05-01 18:37] yinweisu commented on #145
Thanks! And yes, upgrade to ptl 1.6 soon would be awesome!

[2022-05-03 00:13] yinweisu opened #147 "[Tune] Ray Tune gives incorrect warning about not using GPUs when used with Ray Lightning"
When trained on gpu, I see the following warning:
[code]

To reproduce, simply run the ray tune example code with gpu.

I think this is related to the usage of `get_tune_resources` or the fact that the head process is cpu only. Either way, this warning is incorrectly triggered.

Also, is there a way to disable such warning? I tried to filter it with `warnings.filterwarnings` but wasn't able to. My

[2022-05-03 04:45] xwjiang2010 commented on #147
I didn't get a chance to try out the GPU setup myself. But from what I can tell reading the code, this should not be expected.
Could you maybe print out `get_tune_resources` and follow through the logic [here](https://sourcegraph.com/github.com/ray-project/ray/-/blob/python/ray/tune/tune.py?L660)? I think it should land in Line 661. It may be interested to see why it doesn't in your case.

As for

[2022-05-03 22:54] xwjiang2010 commented on #147
@avnishn - 1.13 release manager.

[2022-05-03 23:16] avnishn commented on #147
Our current time table has us releasing around the 20th of may.

You can install the nightly version of ray by calling ray install nightly in your terminal, after installing ray, if you need a sooner release. We are also release ray 1.12.1 soon. cc @amogkam

[2022-05-08 08:40] PetrDvoracek opened #149 "TypeError: __init__() got an unexpected keyword argument 'cpus_per_worker'"
[Documentation](https://docs.ray.io/en/latest/ray-core/examples/using-ray-with-pytorch-lightning.html) is not synchronized with [code](https://github.com/ray-project/ray_lightning/blob/d5f325a9d08f96d14309dfc8095b8d33013c2bbe/ray_lightning/ray_ddp.py#L120). If you follow the documentation, you will get this error
[code]

The variable `cpus_per_worker` is unknown (correct name is `num_cpus_per_work

[2022-05-12 03:09] subhashbylaiah opened #151 "Using LightningCLI to parse plugin options from the config file fails when using the RayPlugin."
Using LightningCLI to parse plugin options from the config file fails when you try to use the RayPlugin.
Here's how I am specifying the plugin option in the config file:

[code]

The error stack I get is below:
[code]
The relevant error from the stack trace is this:  `__init__() got multiple values for keyword argument 'parallel_devices'`
This seems to be because the `jsonargparse` includes the th

[2022-05-19 02:22] dynamicwebpaige commented on #145
+1 for upgrading to PyTorch Lightning 1.6! Is there an estimate for when that work might occur?

[2022-05-20 23:40] amogkam commented on #151
Hey @subhashbylaiah, thanks for raising this! The underlying issue is the same as this: https://github.com/PyTorchLightning/pytorch-lightning/discussions/8561.

`jsonargparse` assumes that kwargs in the constructor is used for class inheritance only, which is why it pulls in the `parallel_devices` and `cluster_environment` from the superclasses. In general, it seems like `LightningCLI` doesn't rea

[2022-05-21 20:48] brodyh opened #155 "Multiple WandB experiments created with PyTorch lightning DDP"
When I use the ray lightning plugin for distributed training, I see two wandb experiments created. One which never logs anything (but has configs that were updated before calling `pl.Trainer.fit`), and another wandb experiment which logs the training information (but has no config info). How do I get these to both show up under the same experiment?

using ray-lightning: 0.3.0

Thanks!

[2022-05-23 16:21] #151 closed

[2022-05-24 09:09] MarkusSpanring commented on #143
+1 for updating to 1.6.

[2022-06-10 22:38] gradientsky commented on #143
+1 for updating to 1.6. There are two high-severity security issues opened for <1.6 tied to `pyyaml`
- https://security.snyk.io/vuln/SNYK-PYTHON-PYTORCHLIGHTNING-2419028
- https://security.snyk.io/vuln/SNYK-PYTHON-PYTORCHLIGHTNING-2325279

[2022-06-13 22:20] #149 closed

[2022-06-20 21:47] JiahaoYao opened #160 "trainer is not consistent during the `ray_ddp`"
Using the ray ddp, the weight (or `state_dict`) of the model is not changed, when i run the example of https://github.com/ray-project/ray_lightning/blob/main/ray_lightning/examples/ray_ddp_example.py

the output is

[code]

for the `mp_spawm` , the output is

[code]

This is because if we print out the trainer id, we can find it is different

[code]

however, for the original `ddp_spawn`, the `tra

[2022-06-21 06:04] JiahaoYao commented on #143
Hi @krfricke, in the pytorch-lightning 1.6, currently the dev-branch is able to run on multi-node gpu setting, but one thing is lacked --- the trainer needs to updated from the ray workers like the version 1.5 did:

https://github.com/ray-project/ray_lightning/blob/6aed848f757a03c03166c1a9bddfeea5153e7b90/ray_lightning/ray_ddp.py#L362-L401

For example, the network parameters in the ray workers ne

[2022-06-21 06:08] JiahaoYao commented on #160
tag: #143

[2022-06-21 18:46] JiahaoYao opened #161 "[raystrategy] multi-stragy in the worker is not consistent"
In the current ray strategy, since the `strategy` shows in three places: two are obvious and one is hidden.

one is in the ray launcher:
[code]
https://github.com/JiahaoYao/ray_lightning/blob/2727fd441a62e0e6763fd1f25ed97575dc5a6733/ray_lightning/ray_ddp.py#L38-L48

And later we use these in `_wrapped_function_`

https://github.com/JiahaoYao/ray_lightning/blob/main/ray_lightning/ray_ddp.py#L241-L2

[2022-06-21 19:13] JiahaoYao opened #162 "the training results can be pulled to the main process"
this is weights from `ddp-spawn`

[code]

this is the weights from `ray_ddp`

[code]

This is because in the `ddp-spawn`
https://github.com/Lightning-AI/lightning/blob/master/src/pytorch_lightning/strategies/launchers/spawn.py#L104-L105

[code]

the output is

[code]

on the other hand, for the `ray ddp`, these output is

https://github.com/JiahaoYao/ray_lightning/blob/2727fd441a62e0e6763fd1f25ed9

[2022-06-21 21:56] JiahaoYao commented on #161
this can be simplified to the minimal codes:

[code]

thanks @ckw017 !! 👍

[2022-06-22 16:19] #161 closed

[2022-06-22 16:20] #162 closed

[2022-06-22 16:20] #160 closed

[2022-06-23 17:54] JiahaoYao opened #165 "horovod installation issue"
Using the flag to install horovod but met with the following issues.
[code]

[2022-06-23 18:38] amogkam commented on #165
I was getting this error with ray installation from master as well.

Is there anything about this on the issues in the horovod repo?

[2022-07-01 21:47] JiahaoYao opened #167 "horovod lightning integration missing the log dir"
[code]

[2022-07-01 21:48] JiahaoYao opened #168 "warning from the horovod trainer"
[code]

[2022-07-01 21:51] JiahaoYao commented on #168
tag: https://github.com/pytorch/pytorch/issues/57273
https://discuss.pytorch.org/t/userwarning-the-given-numpy-array-is-not-writeable/78748

wonder whether this is due to pytorch

[2022-07-01 21:54] JiahaoYao commented on #168
tag: https://discuss.pytorch.org/t/warning-leaking-caffe2-thread-pool-after-fork-function-pthreadpool/127559

[2022-07-01 22:34] JiahaoYao commented on #168
fixed by the latest pytorch version

[2022-07-01 22:34] #168 closed

[2022-07-02 00:01] JiahaoYao opened #169 "change the `checkpoint_callback=True`"
[code]

[2022-07-02 01:04] JiahaoYao opened #170 "log is changed in the new version of pytorch lightning"
in the pytorch-lightning `1.5`, the running of this gives

[code]

but in the new version, the outputs no longer has the valiation?

[code]

i.e. no valiation is running there.

reproduction scripts:
[code]

[2022-07-02 01:57] JiahaoYao commented on #170
tag: https://github.com/Lightning-AI/lightning/issues/13188

[2022-07-02 01:58] #170 closed

[2022-07-02 01:59] JiahaoYao opened #171 "torch remove the checkpoint when `is_global_zero` is not set? (multi-worker setting)"
[code]

[2022-07-02 02:08] JiahaoYao opened #172 "warning in the ci test (change the deprecated api)"
[code]

[2022-07-02 02:51] JiahaoYao commented on #172
[code]

[2022-07-02 02:53] JiahaoYao opened #173 "`shard-ddp` test of system exit"
[code]

[2022-07-06 08:29] JiahaoYao opened #174 "ray ddp fails with 2 gpu workers"
[code]

[2022-07-06 10:16] JiahaoYao commented on #174
[code]

[2022-07-06 11:57] JiahaoYao commented on #174
[code]

the suggestion from https://github.com/ultralytics/yolov5/issues/4530

then
[code]

I have the pytorch
[code]

but still fails

[code]

[2022-07-06 11:59] JiahaoYao commented on #174
https://github.com/Lightning-AI/lightning/issues/4420

[2022-07-06 12:58] JiahaoYao commented on #174
https://github.com/Lightning-AI/lightning/issues/8139

[2022-07-06 12:59] JiahaoYao commented on #174
https://github.com/rapidsai/dask-cuda/issues/446

[2022-07-06 15:25] #174 closed

[2022-07-09 17:39] JiahaoYao opened #175 "`ray_ddp` global and local rank"
[code]

adding the rank (global and local) but get the following error

[code]

[2022-07-09 17:49] JiahaoYao opened #176 "`ray_ddp` the progressive bar is broken"
The progressive bar in the `ray_ddp` shows the results:

[code]

[2022-07-09 18:23] JiahaoYao commented on #176
tag: https://github.com/ray-project/ray/issues/9233

[2022-07-11 20:04] JiahaoYao opened #177 "`ray_ddp` showing no use of gpu"
[code]

when we are using the delayed gpu's, the logging code is here

https://github.com/Lightning-AI/lightning/blob/56ff89743b42f276ce123aad70341f2c62cf5cf9/src/pytorch_lightning/trainer/trainer.py#L1751-L1761

[2022-07-11 20:04] JiahaoYao commented on #177
@amogkam one issue for discussion later!

[2022-07-11 20:34] amogkam commented on #177
Yeah i'm not sure if this is avoidable. Maybe we can just log a message saying to ignore this output?

[2022-07-11 22:39] JiahaoYao opened #178 "tune test: do we need to count the head node cpu?"
https://github.com/ray-project/ray_lightning/blob/main/ray_lightning/tests/test_tune.py#L42-L51

@amogkam  for later discussion

[2022-07-11 23:45] #177 closed

[2022-07-12 20:01] JiahaoYao commented on #178
fixed

[2022-07-12 20:01] #178 closed

[2022-07-12 20:02] #175 closed

[2022-07-12 21:16] JiahaoYao opened #179 "`ray_ddp` gpu issue"
[code]

gives ` CUDA error: invalid device ordinal`

[2022-07-12 21:48] JiahaoYao commented on #179
https://github.com/Lightning-AI/lightning/issues/2407

[2022-07-12 21:48] JiahaoYao commented on #179
it seems like the gpu id issue? can not assign `torch.cuda.set_device`

[2022-07-14 01:09] JiahaoYao opened #180 "`ray_ddp` issue of `Leaking Caffe2 thread-pool after fork. (function pthreadpool)`"
[code]

see this https://github.com/pytorch/pytorch/issues/57273

[2022-07-14 20:23] JiahaoYao opened #181 "`ray_horovod` leaks gpu memory on the `cuda:0`"
The environment requirements:
[code]

The gpu environment is

[code]

The scripts runned is

[code]

The outputs are

[code]

the cuda environment is

[code]

[2022-07-14 20:24] JiahaoYao commented on #181
this was for the old version.

[2022-07-15 00:07] JiahaoYao opened #182 "`ray_horovod` multi pid process in the `run`"
suspect: this probably the optimizer issue, the optimizers like adam and others, they store the first order and second order momentum, this would be messed up the process?

Also,

if we print the message in the run function (`loops/`)

[code]

we will see that there will be three concurrent threads going through this function, the outputs looks like this

[code]

the high level bits are

some come

[2022-07-15 00:08] JiahaoYao commented on #182
if we print out here

[code]

we are sure that only one pid on each worker.

[2022-07-15 00:38] JiahaoYao commented on #182
even tried the sgd, the issue is not fixed

[2022-07-15 18:39] JiahaoYao commented on #181
https://github.com/Lightning-AI/lightning/issues/13665

[2022-07-22 14:45] subhashbylaiah opened #184 "Training performance slowdown when resuming from a checkpoint and distributing training over a multi-node GPU ray cluster."
I am using ray_lightning to distribute training across a 8 node ray cluster with GPU. I am seeing the training performance significantly slow down (by a factor of 2-3) when resuming from a checkpoint. When I start a new training it takes an average of 35 minutes per epoch. But, when I restart the training from a previous checkpoint it takes over 90 minutes per epoch. This behavior is pretty consis

[2022-07-26 16:33] JiahaoYao commented on #184
Hi @subhashbylaiah, i see the assumption here is the model uses `float16` for the model datatype.

In the ddp source code, it uses `torch.float` i.e. https://pytorch.org/docs/stable/tensors.html#data-types. You can find here

https://github.com/ray-project/ray_lightning/blob/6aed848f757a03c03166c1a9bddfeea5153e7b90/ray_lightning/ray_ddp.py#L377-L386

i am going to test this assumption, and keep u

[2022-07-26 18:32] JiahaoYao opened #186 "`ray_lightning` checkpoint dir not saving the checkpoint"
[code]

if we passed the `tmpdir` to the `get_trainer`, the checkpoint will not be saved.

[code]

[code]

----------

[code]

[code]

[2022-07-26 18:44] JiahaoYao commented on #184
i do see this
<img width="632" alt="Screen Shot 2022-07-26 at 11 43 55 AM" src="https://user-images.githubusercontent.com/20907377/181086759-cddc714b-1e18-4697-8660-5292b2752751.png">

[2022-07-26 18:48] JiahaoYao commented on #184
on the other hand, use the ddp. There is no extra memory.

<img width="639" alt="image" src="https://user-images.githubusercontent.com/20907377/181087498-235138e3-9c3f-412d-b62c-abb5183f8565.png">

[2022-07-26 18:59] JiahaoYao commented on #184
@amogkam, my current guess for this issue is as follows.

the trainer is using the delayed gpu accelerator. the checkpoint is gpu checkpoint.

When resuming from the checkpoint, it load the gpu checkpoint. and the speed might be also due to load the gpu checkpoint from the cpu and then moving to the gpu.

[2022-07-27 14:10] subhashbylaiah commented on #184
Thanks @JiahaoYao for checking on this issue. Can you please confirm if you are able to reproduce this issue with the example code?

[2022-07-30 13:09] m-lyon opened #189 "AttributeError: 'AcceleratorConnector' object has no attribute 'strategy'"
Using the toy example code found [here](https://github.com/ray-project/ray_lightning#hyperparameter-tuning-with-ray-tune),

I get the following error:
[code]

Not really sure what i'm doing incorrectly, I have the following versions: `torch==1.11.0`, `pytorch-lightning==1.6.0`, `ray-lightning==0.3.0`, and `ray==1.13.0`

[2022-08-01 05:22] amogkam commented on #189
Hey @m-lyon, can you use pytorch Lightning  1.6.4 instead of 1.6.0?

[2022-08-01 09:19] m-lyon commented on #189
@amogkam I tried with `pytorch-lightning==1.6.4` and the same error occurs.

[2022-08-01 16:48] amogkam commented on #189
@JiahaoYao do you think you can take a look? Thanks!

[2022-08-01 19:34] JiahaoYao commented on #189
sure

On Mon, Aug 1, 2022, 09:48 Amog Kamsetty ***@***.***> wrote:

[2022-08-01 20:29] JiahaoYao commented on #189
Hi @m-lyon , i am about to look into ur issue. if you have some time at the same time, plz also try examples here https://github.com/ray-project/ray_lightning/blob/main/ray_lightning/examples/ray_ddp_tune.py. My guess is the example in the readme is not the latest.

stay tuned, will let you know if i figure out the issue.

[2022-08-01 20:48] JiahaoYao commented on #189
Hi @m-lyon (cc @amogkam), the solution is to change
[code]
to
[code]

Then you can get the tune result:

[code]

Thank you @m-lyon again for reporting this, and i am going to fill a pr to fix the readme!

[2022-08-02 18:31] #189 closed

[2022-08-03 19:14] JiahaoYao opened #191 "adding the version in `__init__`"
In the ray-lightning, there is no version number in the `__init__`. i.e., https://github.com/ray-project/ray_lightning/blob/main/ray_lightning/__init__.py

However, in other packages, you can find this

https://github.com/ray-project/ray/blob/master/python/ray/__init__.py#L114

-----

the benefit of this, user can find the version number by calling

[code]

[2022-08-05 16:44] m-lyon opened #192 "Error in RayStrategy.root_device when using multi GPU node"
### Problem statement
When starting a hyperparameter search on a multi GPU node (4 GPUs) I run into a mismatch of visible CUDA devices. Below is the full code to recreate the error (it is the same as [found here](https://github.com/ray-project/ray_lightning#hyperparameter-tuning-with-ray-tune) with a modification to use GPU as well as a change in `local_dir`).

### Code to recreate
[code]

### Mod

[2022-08-05 23:01] JiahaoYao commented on #192
hi @m-lyon , i am trying to looking into the problem. I wonder if it is possible to remove `${CUDA_VISIBLE_DEVICES} equal to "0,1,2,3"` setup in the problem?

[2022-08-05 23:02] JiahaoYao commented on #192
i am worried about that `ray` is also setting the environment variables for you.

[2022-08-05 23:14] JiahaoYao commented on #192
[code]

Hi @m-lyon , i can successfully run the jobs.

[2022-08-05 23:15] JiahaoYao commented on #192
this is my gpu usage
[code]

[2022-08-05 23:25] JiahaoYao commented on #192
https://user-images.githubusercontent.com/20907377/183223108-df41db61-83df-4294-95a2-ec481482c311.mp4

[2022-08-06 11:45] m-lyon commented on #192
I did a run where I set `export CUDA_VISIBLE_DEVICES=""`, however this lead to the script unable to recognise any GPU resources, and thus all trials were stuck in pending:

[code]

I suppose if you're unable to recreate the error then I'm going to have to do some further digging into the codebase to try and find the cause of the problem. To be honest i'm unsure why `CUDA_VISIBLE_DEVICES` is being

[2022-08-06 12:13] JiahaoYao commented on #192
Hi @m-lyon, may i ask several questions:
1. what is ur `ray` version? can u try with the nightly wheel
2. did u try the trainer without tune? does that work with gpu?

-----

the reason of `CUDA_VISIBLE_DEVICES`: https://github.com/ray-project/ray_lightning/blob/main/ray_lightning/ray_ddp.py#L221-L256

or in other words, the ray tune will separate the cuda visible environments:
say
[code]

in this

[2022-08-06 12:15] JiahaoYao commented on #192
also, i wonder if it is possible for u to try a clean and empty aws or gcp machine. sometimes n a HPC (SGE) server might have their different environment setups.

[2022-08-06 12:56] m-lyon commented on #192
Using `ray==1.13.0`, I can try with the nightly wheel or ray and see how I go.

As in have I just used `pytorch_lightning` without `ray` or `ray_lightning`? If so then yes, this works fine, though I use `DDP` with 4 GPUs to train 1 model at a time.

I'm a university student using the HPC system provided so I don't really have the financial means to use a commercial setup to conduct the experiments

[2022-08-06 12:56] JiahaoYao commented on #192
[code]

Your change fails due to `RuntimeError: CUDA error: invalid device ordinal`, if `cuda_visible_list=2`, and use `torch.device('cuda:2')` it will be out of bound. the original code is to use `torch.device('cuda:0')` in this setup.

[2022-08-06 12:59] JiahaoYao commented on #192
by the way, can u also show
[code]

[2022-08-06 13:03] JiahaoYao commented on #192
for the second item, i mean this example: https://github.com/ray-project/ray_lightning/blob/main/ray_lightning/examples/ray_ddp_example.py

[2022-08-07 07:50] m-lyon commented on #192
So would this work?

[code]

[2022-08-07 11:20] m-lyon commented on #192
I can confirm the above code has fixed this issue.

I guess a question is then given the code below, if each trial should only see `CUDA_VISIBLE_DEVICES=0` (because `ray` sets this for each trial) then how does this ever not produce an error for trials in parallel where NGPUs > 1? Because `gpu_id` and `cuda_visible_list` are both not `0` when the desired device is `torch.device('cuda', 0)`
[code]

[2022-08-07 15:46] JiahaoYao commented on #192
can u also print `nvidia-sim` in the command line during the training and
can u find all the gpus are used?

On Sun, Aug 7, 2022, 04:21 Matt ***@***.***> wrote:

[2022-08-09 20:14] aced125 commented on #94
I get this as well

[2022-08-09 23:59] aced125 commented on #87
I get this issue as well. Currently I solve it with `ray stop` and `ray start --head --port=6379 --object-manager-port=8076 --autoscaling-config=~/ray_bootstrap_config.yaml --metrics-export-port=8080` but this is harder when you have multiple nodes

[2022-08-10 04:23] JiahaoYao opened #194 "[Code] add pytorch-lightning compatibility for 1.7.x"
update for `pytorch lightning 1.7`.

[2022-08-11 17:42] JiahaoYao commented on #192
Hi @m-lyon , wonder whether your issue is solved?

[2022-08-12 09:33] m-lyon commented on #192
As far as I can tell, setting each device to `torch.device('cuda', 0)` within the if statement has fixed the issue, however i can't confirm the GPU activity through `ray status` or `nvidia-sim` because of the submission system within the HPC i am using.

Specifically, as it is a batched submission system, I'm unable to open an interactive terminal on the same processing node as the one that is run

[2022-08-15 11:38] m-lyon commented on #192
After some time training with the aforementioned code fix, I ran into this error for some of the trials:

[code]
This was with the additional configuration of using `TuneBOHB` and `HyperBandForBOHB`, not sure if that would affect things though.

Afterwards I thought I would try DDP across the 4 GPUs available on the node, but in this configuration the original error was raised:

[code]

To me this

[2022-08-15 13:13] m-lyon commented on #192
So the above error hinted at what the problem was here.

From the [raytune GPU documentation](https://docs.ray.io/en/master/ray-core/tasks/using-ray-with-gpus.html):

Crucially it is a list of *strings*, whereas in `ray_ddp.RayStrategy.root_device`:

[code]
So it's a type mismatch. I wonder how this does not cause an error every time though?

Possible fix: changing `gpu_id = ray.get_gpu_ids()[0]`

[2022-08-15 13:30] m-lyon commented on #192
## Update:

after implementing the above fix I immediately run into the CUDA error:

[code]

For reference, here is the `tune.run` call:

[code]

and the `pl.Trainer` instance created within `train_model_raytune` function:

[code]

[2022-08-19 06:34] ahmedbr commented on #13
I'm using accelerate, and the solution of adding the environment variable `PL_TORCH_DISTRIBUTED_BACKEND=gloo` didn't work for me on Windows. Any other suggestion available?

[2022-08-19 06:34] Roffmkkkd commented on #13
邮件已收到啦，感谢来信！

[2022-08-26 15:50] awaelchli commented on #194
A small note here: We just merged https://github.com/Lightning-AI/lightning/pull/14319, which will go into the next 1.7.x release. It introduces the environment variable `PL_DISABLE_FORK`, which should be set by frameworks that don't support forking. So I suggest that we set `PL_DISABLE_FORK=1` in Ray-Lightning. What do you think?

More context:
https://github.com/Lightning-AI/lightning/issues/142

[2022-08-26 16:25] JiahaoYao commented on #194
Thanks for your @awaelchli prompt response. I will take a look!

[2022-08-26 18:05] chongxiaoc opened #202 "[Code] best_model_path in ModelCheckpointCallback (rank 0 and driver node)"
Driver node and rank 0 use same path to save and load weights in ModelCheckpointCallback.

It is possible driver node and rank 0 are not on the same machine, or they don't even share the same file system.

Sending local `best_model_path` on rank 0 back to driver node is meaningless.

Probably rank 0 has to push best model weights to a persistent storage in a custom callback on `fit_end_stage` from

[2022-08-30 04:38] KwanWaiChung opened #205 "Error when using WandbLogger"
Error occurs when I try to use WandbLogger from pytorch_lightning in the standard example code below.

The error is:
(RayExecutor pid=121351) Exception in thread SockSrvRdThr:
(RayExecutor pid=121351) Traceback (most recent call last):
(RayExecutor pid=121351)   File "python3.8/threading.py", line 932, in _bootstrap_inner
(RayExecutor pid=121351)     self.run()
(RayExecutor pid=121351)   File "pyt

[2022-09-06 14:16] MarkusSpanring opened #207 "Teardown after trainer.fit() takes exceptionally long when using RayStrategy with large models"
I noticed that teardown of the ray workers takes exceptionally long when I use RayStrategy to train slightly larger models such as `torchvision.models.resnet18`, `torch.nn.LSTM` or `torch.nn.transformer`.

I have used the example from [ray_ddp_example.py](https://github.com/ray-project/ray_lightning/blob/main/ray_lightning/examples/ray_ddp_example.py) and replaced the model with a `ResNet` and the

[2022-09-07 08:32] MarkusSpanring commented on #207
After some digging, I found that [moving results to cpu](https://github.com/ray-project/ray_lightning/blob/main/ray_lightning/launchers/ray_launcher.py#L307) when on rank zero leads to this bottleneck.
Is there actually anything in `_RayOuput` [here](https://github.com/ray-project/ray_lightning/blob/main/ray_lightning/launchers/ray_launcher.py#L313) that still lives on `gpu` such that it needs to

[2022-09-11 21:54] toru34 opened #210 "Worker nodes don't start for ray-lightning & aws"
I'd like to run PyTorch on AWS multinode instances.
I found [this article ](https://medium.com/pytorch/getting-started-with-ray-lightning-easy-multi-node-pytorch-lightning-training-e639031aff8b)explaining how to enable multinode training on AWS with Ray-Lightning, and I've been trying to reproduce it.

But I couldn't run the code on multiple nodes on AWS. It successfully runs on a single node (`nu

[2022-09-12 23:58] toru34 commented on #210
I was able to run a cluster by replacing `file_mounts` section above with this:

[code]

[This post](https://stackoverflow.com/questions/56370163/ray-cluster-configuration-file-mounts-section-not-allowing-worker-nodes-to-launc) was helpful.

[2022-09-13 00:21] #210 closed

[2022-09-14 20:05] saryazdi opened #212 "Question: Why use ray_lightning instead of pytorch_lightning for multi-node training?"
Hi,

Sorry if it's a basic question - I was looking into solutions for multi-node training for `pytorch_lightning` & came across `ray_lightning` which is implemented on top of `pytorch_lightning`, but `pytorch_lightning` also seems to have some out-of-the-box support for multi-node training (docs [here](https://pytorch-lightning.readthedocs.io/en/latest/clouds/cluster.html))

How does `ray_lightni

[2022-09-14 20:07] chongxiaoc commented on #212
I think `ray_lightning` is for running on  Ray cluster with multi-node training.

[2022-09-14 20:13] amogkam commented on #212
Hey @saryazdi-- PTL has support for multi-node distributed training but it assumes that you have a cluster already setup and networked together for training. If you are using a cluster manager like Slurm for example, this might already be the case, but on the cloud you would have to do the necessary configuration and setup yourself.

With Ray, setting up clusters is very easy.

This blog post goes

[2022-09-14 20:38] saryazdi commented on #212
Thanks @chongxiaoc @amogkam ! So for a private multi-node multi-gpu cluster it seems to come down to whether we want to manage our cluster with `Ray Cluster` (then use `ray_lightning`) or `Slurm`/custom-scripts (then use `pytorch_lightning`)? And the main factor to consider when making that decision is that `Ray Cluster` is easier to setup?

[2022-09-14 20:43] amogkam commented on #212
yes that's right @saryazdi! Also if you are planning to add hyperparameter tuning as well and want to use [Ray Tune](https://docs.ray.io/en/latest/tune/index.html), then using Ray Lightning for training would be best for that

[2022-09-14 21:36] #212 closed

[2022-09-15 09:52] MarkusSpanring opened #213 "Deterministic mode is not set on remote worker when `Trainer` is set to `deterministic`"
## 🐛 Bug

Deterministic mode is not set on all workers when `Trainer` is set to `deterministic=True`.

### To Reproduce
The script is divided in two parts. `test.py` and `model.py` to show that `torch.backends.cudnn.deterministic` is set on every worker and that the initial value is `False`
[code]
[code]

This leads to the following output
[code]
From this one can see that `model.py` is loaded twi

[2022-09-20 19:12] jakubMitura14 opened #216 "no training starts although flag is running"
Hello I havepytorch lightning module running on google cloud vm with 24 cpu cores and 2 A100 vidia gpu. I use ray for hyperparameter tuning.

first the information is about 0 per 1 A100 requested
[code]
Then the code for data loading executes ad i get constantly

== Status ==
Current time: 2022-09-20 19:07:03 (running for 00:07:39.81)
Memory usage on this node: 17.7/167.0 GiB
PopulationBasedTraini

[2022-09-21 03:49] amogkam commented on #216
Hey @jakubMitura14, are you also seeing messages about Actor not able to be scheduled? It would help if you can also share the full stdout.

To use Ray Lightning with Tune you should use the `get_tune_resources` utility function (like in this example: https://github.com/ray-project/ray_lightning#hyperparameter-tuning-with-ray-tune) rather than passing in the `PlacementGroupFactory` yourself. For y

[2022-09-21 10:22] #207 closed

[2022-09-21 18:17] amogkam commented on #216
what pytorch lightning version do you have @jakubMitura14?

[2022-09-22 08:30] jakubMitura14 commented on #216
Thanks!!! it resolved the issue

[2022-09-22 08:30] #216 closed

[2022-09-22 09:16] aga-relation commented on #194
Any updates on when a release supporting torch-lightning 1.7.x might be expected? :)

[2022-09-27 07:12] jakubMitura14 opened #219 "TuneReportCheckpointCallback error"
cross referencing from https://discuss.ray.io/t/checkpointing-errors-on-complex-models/7637/4
While using TuneReportCheckpointCallback I get
[code]
When using TuneReportCallback such error do not occur

pytorch-lightning 1.6.5
ray 2.0.0
ray-lightning 0.3.0

full list of python packages
https://docs.google.com/document/d/1PlgcDDYKZ9qB-7YioISuEOFIfWpTk1xFYFA2dW4yqUo/edit

As indicated in part of the

[2022-09-27 07:18] jakubMitura14 opened #220 "population based scheduler error"
cross referencing from https://discuss.ray.io/t/checkpointing-errors-on-complex-models/7637/6

when using the population based scheduler I get error

[code]

pytorch-lightning 1.6.5
ray 2.0.0
ray-lightning 0.3.0

full list of python packages
https://docs.google.com/document/d/1PlgcDDYKZ9qB-7YioISuEOFIfWpTk1xFYFA2dW4yqUo/edit

below minimal working examples showing problems
example giving error

[c

[2022-10-11 16:44] mreyarea-fy commented on #219
Hey,

Any updates on this? Were you able to solve it?

[2022-10-11 17:28] jakubMitura14 commented on #219
No, frankly because I could not I migrated to pure optuna

[2022-10-12 10:33] pokecheater commented on #13
Saved my day <3

[2022-10-24 16:56] geoffrey-g-delhomme commented on #194
Any updates?

[2022-10-31 17:44] AugustoPeres opened #225 "Ray lightning opens a new mlflow run"
I have a training script using ray, pytorch lightning and mlflow.
When I try to use ray lightning it seems to open another strategy:

First in my script I have the code:
[code]

I then move on to training with ray:

[code]

The problem is that, all parameters logged with `_log_parameters` appear in one run, and all the metrics logged using the callbacks appear in another run.

If I train without r

[2022-11-18 13:05] lcaquot94 opened #228 "Can not checkpoint and log"
The documentations says that when using with Ray Client, you must disable checkpointing and logging for your Trainer by setting checkpoint_callback and logger to False. So how can we log and save model during training ?

[2022-11-21 16:49] lcaquot94 opened #230 "Rank Zero Deprecation"
I get this warning when launching training with RayStrategy on my pl.LightningModule on multiples workers :
LightningDeprecationWarning: pytorch_lightning.utilities.warnings.rank_zero_deprecation has been deprecated in v1.6 and will be removed in v1.8. Use the equivalent function from the pytorch_lightning.utilities.rank_zero module instead.